@import "src/theme";

h2 {
  margin-bottom: 3rem;
}

.row {
  display: flex;
}

.selection-box {
  width: 22rem;
  margin-right: 5rem;
  border: 1px solid $light-purple-grey-300;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;

  background-color: $grey-1;
  &:hover {
    border-color: $vyne-lilac;
    background-color: rgba($dark-grey-2, 0.1);
  }

  .title-bar {
    display: flex;
    align-items: center;

    img {
      width: 75px;
      margin-right: 2rem;
    }
  }
}

