@import "src/styles";

.form-container {
  max-width: 500px;
}

.form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}
