@use '@angular/material' as mat;
@import "src/theme";
@import "../../../taxi-playground-app/styles.scss";


:host {
  display: flex;
  align-items: center;
  fill: white;
  color: white;

  padding: 0 1rem;

  // border-bottom: 1px solid;

  background-color: #3b6af9;

  .logo {
    height: 48px;
    margin-right: 1rem;
  }
}

.nav-link {
  --tui-link: white;
  --tui-link-hover: white;
  margin-right: 10px;
}

.examples {
  margin-left: 3rem;
}

.spacer {
  flex-grow: 1;
}

tui-select {
  margin-left: 1rem;
  width: 20rem;
}

.title {
  font-family: $headings-font;
  font-weight: 300;
  margin-right: 5rem;
}

button {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0px 4px;
}

button.secondary {
  border: 1px solid mat.get-color-from-palette($primary, 500);
  background-color: white;
  &:hover {
    background-color: $base-3;
    cursor: pointer;
  }
  border-radius: 4px;
  font-size: 1rem;
  font-family: $headings-font;
  font-weight: 300;
  padding: 8px 16px;

}

mat-icon {
  fill: white;
  color: white;

}

.header-icon-button {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  color: white;
}

.header-icon-button-with-text {
  mat-icon {
    margin-right: 0.5rem;
  }
}

.header-icon-spacer {
  margin-right: 3rem;
}
