@use '@angular/material' as mat;
@import "src/theme";
@import "../../../taxi-playground-app/styles.scss";


:host {
  display: flex;
  align-items: center;
  fill: white;
  color: white;

  padding: 0 1rem;

  // border-bottom: 1px solid;

  background-color: #3b6af9;

  .logo {
    height: 48px;
    margin-right: 1rem;
  }
}

.spacer {
  flex-grow: 1;
}

tui-select {
  margin-left: 1rem;
  width: 20rem;
}

.title {
  font-family: $headings-font;
  font-weight: 300;
  margin-right: 5rem;
}

button {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0px 4px;
}

button.secondary {
  border: 1px solid mat.get-color-from-palette($primary, 500);
  background-color: white;
  &:hover {
    background-color: $base-3;
    cursor: pointer;
  }
  border-radius: 4px;
  font-size: 1rem;
  font-family: $headings-font;
  font-weight: 300;
  padding: 8px 16px;

}

mat-icon {
  fill: white;
  color: white;

}

.header-icon-button {

  &:hover {
    cursor: pointer;
  }
}

.subscribe {
  background-color: white;
  color: mat.get-color-from-palette($primary, 500);

  line-height: 2em;
  margin-right: 40px;
  padding: 0 10px;
}
