@import "typography";

button.button-small {

  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }
  font-family: $headings-font;
  font-size: 0.9rem;
  font-weight: 400;

  border-radius: 4px;

  img {
    width: 1rem;
    margin-right: 0.8rem;
  }
}


.menu-bar-button {
  margin-right: 2rem;
  &[data-appearance='outline'] {
    background-color: $white;
    border: none;
  }
}

.spacer {
  flex-grow: 1;
}
