<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Orbital</title>
      <base href="/">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="favicon-32x32.png" rel="icon" type="image/png">
      <link rel="stylesheet" href="css/error-styles.css">
   </head>
   <body>
      <div class="container">
         <header>
            <img class="logo" src="logo.png">
         </header>
         <section>
            <h1>{{status}}: {{error}}</h1>
            <h4>{{message}}</h4>
            <div>path :  {{path}}</div>
            <a href="/" class="home-button">Go Home</a>
         </div>
      </div>
   </body>
</html>

