@import "../shared/styles/main/util/index";

//Sidebar
ul.note-labels {
   padding: 10px 0;
   margin-bottom: 0;
   list-style: none;
   position: relative;

   li {
      position: relative;
      display: block;
      padding: 0;
      font-size: 14px;

      a {
         position: relative;
         display: block;
         -webkit-transition: all 250ms linear;
         -khtml-transition: all 250ms linear;
         -moz-transition: all 250ms linear;
         -ms-transition: all 250ms linear;
         -o-transition: all 250ms linear;
         transition: all 250ms linear;
         padding: 15px 15px 15px 25px;
         font-weight: 600;

         &:hover {
            color: #516073;
         }
      }

      &:hover {
         background: rgba(200, 200, 200, .2);
         cursor: pointer;
      }
   }

   i {
      width: 25px;
      font-size: 1.4em;
      margin-right: 30px;
      text-align: center;
      vertical-align: text-top;
      display: inline-block;
   }
}
//Header & Search
.header-wrapper {
   h1 {
      display: inline-block;
   }

   .header-search-form {
      display: block;
      position: absolute;
      top: 23px;
      left: 200px;
      width: 60%;

      .header-search-icon {
         position: absolute;
         z-index: 15;
         left: 15px;
         top: 7px;

         i {
            color: rgba(255, 255, 255, 1) !important;
            font-size: rem(20px);
         }
      }

      .form-control {
         background-image: none;
         margin: -5px 0 0;
         padding: 10px 20px;
         border-radius: 3px;
         height: 45px;
         display: inline-block;
         color: #fff;
         -webkit-transition: all 150ms ease-in-out;
         -khtml-transition: all 150ms ease-in-out;
         -moz-transition: all 150ms ease-in-out;
         -ms-transition: all 150ms ease-in-out;
         -o-transition: all 150ms ease-in-out;
         transition: all 150ms ease-in-out;
         width: 100%;
         text-indent: 30px;
         background-color: rgba(255, 255, 255, .2);
         border: none;
      }

      .form-group {
         .form-control:focus {
            background-color: #fff;
            color: #4b5a6d;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
            opacity: 1;

            .header-search-icon {
               i {
                  color: #4b5a6d !important;
               }
            }
         }

         ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 1) !important;
         }

         :-moz-placeholder {
            color: rgba(255, 255, 255, 1) !important;
         }

         ::-moz-placeholder {
            color: rgba(255, 255, 255, 1) !important;
         }

         :-ms-input-placeholder {
            color: rgba(255, 255, 255, 1) !important;
         }

         input:focus::-webkit-input-placeholder {
            color: #4b5a6d !important;
         }

         input:focus:-moz-placeholder {
            color: #4b5a6d !important;
         }

         input:focus::-moz-placeholder {
            color: #4b5a6d !important;
         }

         input:focus:-ms-input-placeholder {
            color: #4b5a6d !important;
         }
      }
   }

   .form-group.is-focused {
      .header-search-icon {
         i {
            color: #4b5a6d !important;
         }
      }
   }
   @media (max-width: 767px) {
      .header-search-form {
         display: none;
      }
   }
}
//Expansion Panels
.mat-expansion-panel-header {
   padding: 0 24px 0 10px;
}

.mat-expansion-panel-header:focus,
.mat-expansion-panel-header:hover {
   background: #f5f9fb;
}

.block-header {
   padding: 10px 24px 10px 9px;
   position: relative;

   .actions.icons {
      line-height: 1.3;
   }

   .actions.icons.top-left {
      top: 0;
      left: 54px;

      li {
         padding: 0 3px;

         a i {
            vertical-align: middle;
         }
      }
   }

   .actions.icons.top-right {
      top: 0;
      right: 10px;

      li {
         padding: 0 3px;

         a i {
            vertical-align: middle;
         }
      }
   }
}

.md-expansion {
   .avatar,
   .content-teaser,
   .info-wrapper,
   .sender-wrapper {
      float: left;
      color: #536b78;
   }

   .sender-wrapper {
      width: 155px;
      margin-left: 12px;
   }

   .sender {
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      font-weight: 600;
   }

   .info-wrapper {
      box-sizing: border-box;
      overflow: hidden;
      display: inline-block;
      margin-right: 25px;
   }

   .info {
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      min-height: 25px;
      font-weight: 400;
   }

   code {
      background-color: transparent;
   }

   .mat-action-row {
      position: relative;
      padding: 8px 8px 8px 24px;

      ul.actions.bottom-left {
         left: 30px;
         bottom: 25px;
      }

      .btn {
         i {
            margin-top: -5px;
         }
      }
   }
}

.element-kind-wrapper {
   min-width: 120px
}


:host /deep/ {
   .mat-checkbox {
      margin: 3px 5px 0 10px !important;
   }
   .form-group .float-never .mat-input-infix {
      padding: 20px 0 !important;
      border: none;
      text-indent: 14px!important;
   }
   .mat-checkbox-ripple {
      left: -10px !important;
      top: -10px !important;
      right: -10px !important;
      bottom: -10px !important;
   }

   smd-fab-speed-dial {
      z-index: 99;
      position: fixed;
      right: 30px;
      bottom: 30px;
   }
   #mail_compose_wrapper {
      width: 540px;
      height: 540px;
      position: fixed;
      bottom: -540px;
      right: 150px;
      background: #fff;
      @include border-radius(5px 5px 0 0);
      @include shadow-16dp();

      .tippy-top {
         background: #222f3c;
         height: 40px;

         ul.card-actions.icons {
            li {
               a {
                  color: #fff;
               }
            }
         }

         ul.actions.icons.top-left {
            left: 10px;
            top: 0;
         }

         ul.actions.icons.top-right {
            right: 10px;
            top: 0;
         }
         @include border-radius(5px 5px 0 0);
      }

      .compose-form {
         display: block;
         width: 100%;

         .form-group {
            .form-control {
               padding-left: 12px;
            }

            textarea {
               background-image: none;
            }
         }
      }



      .form-group .mat-input-wrapper {
         padding-bottom: 10px;
      }

      #email-message {
         padding: 0 0 0 13px;
         border-radius: 0;
         margin: 0;
         border: none;
         font-size: rem(13px);
         font-weight: 600;
      }

      &.open {
         bottom: 0;
      }

      &.min {
         bottom: -500px;
         width: 275px;
      }

      &.expand {
         bottom: 10%;
         top: 10%;
         left: 10%;
         right: 10%;
         width: 80%;
         height: 80%;
         z-index: 199;
      }
   }
}

.property-list {
   td, th {
      padding: 10px 5px;
      .property-name {
         padding-right: 20px;
      }
   }
   a>code.code-link {
         color: inherit;
         border-bottom: 1px dashed;
         &:hover {
            cursor: pointer;
            border-bottom: solid
         }
      }
}
