<!-- Content Wrapper - Left Sidenav 2-->
<div id="content_wrapper" class="leftSidenav2-wrapper">
   <!--// Sidenav component container-->
   <mat-sidenav-container class="sidenav-container">
      <!-- Page Content -->
      <div class="content">
         <div class="header-wrapper header-sm app_secondary_bg">
            <header class="container-fluid">
               <div class="row">
                  <h1>Types</h1>
               </div>
            </header>
            <ul class="actions icons top-left">
               <li>
                  <a href="javascript:void(0)" (click)="leftSidenav2.toggle()">
                     <i class="zmdi zmdi-menu"></i>
                  </a>
               </li>
            </ul>
            <form name="search" role="search" action="" class="header-search-form">
               <div class="form-group" [ngClass]="{'is-focused': isFocused }">
                  <span class="header-search-icon">
                     <i class="zmdi zmdi-search"></i>
                  </span>
                  <input type="text" placeholder="Search types..." class="form-control" id="content_header_search" [(ngModel)]="term" name="term"
                     autocomplete="off" (focus)="isFocused = !isFocused" (blur)="isFocused = false;">
               </div>
               <button type="submit" class="hidden btn btn-default">Submit</button>
            </form>
         </div>
         <div class="content-body">
            <mat-accordion [displayMode]="displayMode" [multi]="multi">
               <mat-expansion-panel *ngFor="let member of members | filter:term " class="md-expansion" #{{type.mailId}} (opened)="loadTypeLinks(member)">
                  <mat-expansion-panel-header>
                     <mat-panel-title>
                        <div class="element-kind-wrapper">
                           <span class="sender" *ngIf="member.kind == serviceType">Service</span>
                           <span class="sender" *ngIf="member.kind == typeType">Type</span>
                           <span class="sender" *ngIf="member.kind == operationType">Operation</span>
                        </div>
                        <div class="sender-wrapper">
                           <span class="sender">{{member.name.name}}</span>
                        </div>
                        <div class="info-wrapper">
                           <span class="info">{{member.name.fullyQualifiedName}}</span>
                        </div>
                        <div class="tags-wrapper">
                           <span *ngIf="member.aliasForType">
                              <code><i>{{member.aliasForType}}</i></code>
                           </span>
                        </div>
                     </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-tab-group mat-stretch-tabs>
                     <mat-tab label="Properties" *ngIf="member.attributeNames.length > 0">

                        <table class="property-list">
                           <thead>
                              <th>Name</th>
                              <th>Type</th>
                           </thead>
                           <tbody>
                              <tr *ngFor="let attrName of member.attributeNames">
                                 <td class="property-name">{{attrName}}</td>
                                 <td>
                                    <a>
                                       <code class="code-link">{{member.member.attributes[attrName].fullyQualifiedName}}</code>
                                    </a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>

                     </mat-tab>
                     <mat-tab label="Source">
                        <div class="source-section" *ngFor="let source of member.sources">
                           <h3>{{ source.origin }}</h3>
                           <div class="language">{{ source.language }}</div>
                           <p>
                              <code [innerHTML]="source.content | nl2br"></code>
                           </p>
                        </div>
                     </mat-tab>
                     <mat-tab label="Links">
                        <type-links-graph [member]="member"></type-links-graph>
                     </mat-tab>
                  </mat-tab-group>
                  <mat-action-row>
                     <a href="javascript:void(0)" matRipple class="btn btn-default btn-flat">
                        <i class="zmdi zmdi-mail-reply"></i> REPLY</a>
                     <a href="javascript:void(0)" matRipple class="btn btn-default  btn-flat">FORWARD
                        <i class="zmdi zmdi-forward"></i>
                     </a>
                     <a href="javascript:void(0)" matRipple class="btn btn-default btn-flat">CANCEL</a>
                  </mat-action-row>
               </mat-expansion-panel>
            </mat-accordion>
         </div>
      </div>
      <!--  Footer Wrapper -->
      <footer id="footer_wrapper" class="footer_wrapper"></footer>
   </mat-sidenav-container>
   <!-- /END Sidenav component container -->
</div>
<!-- /END Content Wrapper - Left Sidenav 2-->
