@import "src/theme";

::ng-deep {
  .type-name {
    margin-bottom: 3px;

    .matchedText {
      border-bottom: 2px solid $vyne-primary;
      font-weight: bold;
      color: darken($body, 30%);
    }

  }

  .type-doc {
    font-size: 0.9rem;
    color: lighten($body, 5%);
    margin-top: 12px;

    .matchedText {
      border-bottom: 2px solid $vyne-primary;
      font-weight: bold;
      color: darken($body, 30%);
    }
  }

  .fully-qualified-name {
    .matchedText {
      border-bottom: 2px solid $vyne-lilac;
      font-weight: bold;
    }
  }
}
