<div class="page-content">
  <div class="pipeline-view">
    <div class="pipeline-card">
      <div class="header">
        <img src="assets/img/input.svg">
        <h3>Input</h3>
      </div>

      <form>
        <div class="channel-selector">
          <app-type-autocomplete [schema]="schema"
                                 placeholder="Read from"
                                 hint="Set where the pipeline receives data"
          ></app-type-autocomplete>
          <button mat-stroked-button>Create new</button>
        </div>
        <app-type-autocomplete [schema]="schema"
                               placeholder="Read as type"
        ></app-type-autocomplete>
        <mat-slide-toggle>Save this data</mat-slide-toggle>
      </form>
    </div>
    <div class="arrow">
      <img src="assets/img/right-arrow.svg">
    </div>
    <div class="pipeline-card">
      <div class="header">
        <img src="assets/img/output.svg">
        <h3>Output</h3>
      </div>

      <form>
        <div class="channel-selector">
          <app-type-autocomplete [schema]="schema"
                                 placeholder="Write to"
                                 hint="Set where the pipeline will write it's result"
          ></app-type-autocomplete>
          <button mat-stroked-button>Create new</button>
        </div>
        <app-type-autocomplete [schema]="schema"
                               placeholder="Write as type"
        ></app-type-autocomplete>

      </form>
    </div>
  </div>
</div>
