<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>
    Feature Form
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <form #featureForm="ngForm">
      <div layout="row">
        <md-input-container flex>
          <input mdInput
                  #titleElement
                  #titleControl="ngModel" 
                  type="text" 
                  placeholder="Feature Title" 
                  [(ngModel)]="title" 
                  name="title" 
                  maxlength="20" 
                  required>
          <md-hint align="start">
            <span [hidden]="titleControl.pristine || !titleControl.errors?.required" class="tc-red-600">Required</span>
          </md-hint>
          <md-hint align="end">{{titleElement.value.length}} / 20</md-hint>
        </md-input-container>
      </div>
      <div layout="row" class="push-top">
        <md-input-container flex>
          <input mdInput
                  #userElement
                  #userControl="ngModel"
                  type="text" 
                  placeholder="User" 
                  [(ngModel)]="user" 
                  name="user"
                  maxlength="30"
                  required>
          <md-hint align="start">
            <span [hidden]="userControl.pristine || !userControl.errors?.required" class="tc-red-600">Required</span>
          </md-hint>
          <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
        </md-input-container>
      </div>
      <div layout="row">
        <md-slide-toggle [(ngModel)]="enabled" name="enabled">Enabled</md-slide-toggle>
      </div>
    </form>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button [disabled]="!featureForm.valid" color="primary" (click)="save()">SAVE</button>
      <button md-button (click)="goBack()">CANCEL</button>
    </md-card-actions>
  </md-card>