$light-grey-1 : #ecf0f2;
$light-grey-2 : #ced9de;
$light-grey-3 : #aebfc9;
$grey-1 : #8ea5b3;
$grey-2 : #7592a2;
$grey-3 : #5d7f92;
$dark-grey-1 : #4a6572;
$dark-grey-2 : #344955;
$dark-grey-3 : #232F34;
$dark-grey-4 : #304f63;

$red-1: #e53935;
$red-light: #ff6f60;
$red-dark: #ab000d;

$green: #16aa6d;

$whiteish: #F5F7F9;

$blueish: #afdfff;

$vyne-grey-blue-palette: (
  50 : #ecf0f2,
  100 : #ced9de,
  200 : #aebfc9,
  300 : #8ea5b3,
  400 : #7592a2,
  500 : #5d7f92,
  600 : #4a6572,
  700 : #344955,
  800 : #232F34,
  900 : #304f63,
  A100 : #afdfff,
  A200 : #7ccbff,
  A400 : #49b6ff,
  A700 : #30acff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$vyne-green-palette: (
  50 : #e4f7f0,
  100 : #bcead9,
  200 : #8fdcc0,
  300 : #62cea6,
  400 : #40c493,
  500 : #1eb980,
  600 : #1ab278,
  700 : #16aa6d,
  800 : #12a263,
  900 : #0a9350,
  A100 : #c1ffde,
  A200 : #8effc3,
  A400 : #5bffa7,
  A700 : #41ff9a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


