<div class="tabs-container">
  <button tuiIconButton
          type="button"
          size="s"
          appearance="icon"
          iconStart="@tui.plus"
          class="add-tab-button"
          tuiHint="New tab"
          tuiHintAppearance="dark"
          (click)="queryPanelStore.addTab()"
  ></button>
  <tui-tabs-with-more [activeItemIndex]="queryPanelStore.activeTabIndex()"
                      (activeItemIndexChange)="queryPanelStore.onTabIndexChanged($event)"
                      [moreContent]='more'
  >
    <ng-container *ngFor="let query of queryPanelStore.queries(); index as i; trackBy: queryPanelStore.getTabId">
      <button
        *tuiItem
        tuiTab
        class="tab-button"
        [tuiHint]="longHint"
        tuiHintAppearance="dark"
        tuiHintDirection="top"
      >
        <ng-template #longHint>
          <div class="long-hint">
            {{!query.savedQueryWithSource ? 'Query unsaved' : query.savedQueryWithSource.sourceFile.packageIdentifier.unversionedId + '/' + query.savedQueryWithSource.sourceFile.name}}
          </div>
        </ng-template>
        {{query.tabName}}
        <img
          *ngIf="query.savedQueryWithSource?.savedQuery.httpEndpoint || query.savedQueryWithSource?.savedQuery.websocketOperation"
          src="assets/img/tabler/broadcast.svg"
          class="endpoint-published-icon"
          [class.is-active]="queryPanelStore.activeTabIndex() === i"
          tuiHint="Endpoint exists for this query"
          tuiHintAppearance="dark"
          tuiHintDirection="top"
        >
        <div
          class="close-button-and-unsaved-dot"
          [class.is-active]="queryPanelStore.activeTabIndex() === i"
          [class.is-unsaved]="!query.savedQueryWithSource"
          [class.no-close]="queryPanelStore.queries().length === 1"
          (click)="queryPanelStore.queries().length !== 1 && queryPanelStore.closeTab($event, i)"
        >
        </div>
      </button>
    </ng-container>
  </tui-tabs-with-more>

  <ng-template #more>
    <tui-icon icon="@tui.ellipsis"></tui-icon>
  </ng-template>
</div>
<app-query-editor
  [state]="editorStore.activeQueryEditorState().payload"
  [existingEndpointPaths]="editorStore.existingQueryEndpoints()"
  [existingSavedQueryNames]="editorStore.existingSavedQueryNames()"
  (queryChanged)="queryPanelStore.updateQuery($event)"
  (queryAppended)="queryPanelStore.updateQuery($event, true)"
  (submitQuery)="editorStore.submitQuery()"
  (chatGptQueryChanged)="editorStore.updateLastChatGptText($event)"
  (submitTextToChatGpt)="editorStore.submitTextToChatGpt()"
  (deleteChatHistory)="queryPanelStore.deleteChatHistory()"
  (cancelQuery)="editorStore.cancelQuery()"
  (pauseQuery)="editorStore.pauseQuery($event)"
  (loadProfileData)="editorStore.loadProfileData()"
  (onQuerySaved)="queryPanelStore.onQuerySaved($event)"
  (onSavedQuerySelected)="queryPanelStore.onSavedQuerySelected($event)"
  (onCopyQuery)="editorStore.copyQuery($event)"
  (cursorPositionChanged)="queryPanelStore.updateCursorPosition($event)"
></app-query-editor>
