@import "src/common";

.content-wrapper {
  display: flex;
  height: 100%
}

.alerts-container {
  width: 100%;
}

.app-header-and-content-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.app-page-content {
  flex-grow: 1;
  background-color: $body-bg;
  overflow: auto;

  &.isLoading {
    opacity: 0.5;
    cursor: progress;

    // assume the sibling content to the router-outlet is the content
    // being unloaded and as we can't set pointer-events: none and change
    // the cursor on the same element we're using this trick instead
    ::ng-deep {
      router-outlet ~ .ng-star-inserted {
        pointer-events: none;
      }
    }
  }
}

progress {
  position: absolute;
  width: calc(100% - $sidenav-width);
  top: 53px;
}
