$midnight-blue: #12263b;
$white: #ffffff;
$citrus: #e0ff4f;

$aqua: #06bcc1;

$tint-1: #283a4c;
$tint-2: #3d4d53;
$tint-3: #536170;
$tint-4: #687582;
$tint-5: #7e8994;
$tint-6: #939ca5;
$tint-7: #a9b0b7;
$tint-8: #bec4c9;
$tint-9: #d4d8db;
$tint-10: #e9ebed;

// tailwind-style variables
.bg-midnight {
  background-color: $midnight-blue;
}

.bg-tint-1 {
  background-color: $tint-1;
}

.bg-tint-2 {
  background-color: $tint-2;
}

.bg-tint-3 {
  background-color: $tint-3;
}

.bg-tint-4 {
  background-color: $tint-4;
}

.bg-tint-5 {
  background-color: $tint-5;
}

.bg-tint-6 {
  background-color: $tint-6;
}

.bg-tint-7 {
  background-color: $tint-7;
}

.bg-tint-8 {
  background-color: $tint-8;
}

.bg-tint-9 {
  background-color: $tint-9;
}

.bg-tint-10 {
  background-color: $tint-10;
}







