:root {
  --mono-font: 'jetbrains-mono', monospace;
  --body-font: 'poppins', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  // Specific taiga-ui overrides
  --tui-heading-font: var(--body-font);
  --tui-text-font: var(--body-font);
}


