<div class="file-list" *ngIf="displaySidebar">
  <div class="file-list-entry" *ngFor="let source of sources" (click)="select(source)">
    <img class="icon" src="assets/img/file.svg">
    <span class="file-name">{{ source.origin }}</span>
    <span class="version" *ngIf="source.version">{{ source.version }}</span>
  </div>
</div>
<mat-tab-group class="code-viewer" [(selectedIndex)]="selectedIndex">
  <mat-tab *ngFor="let source of sources" [label]="source.origin">
    <ng-template matTabContent>
      <td-highlight [content]="source.content" [lang]="source.language"></td-highlight>
    </ng-template>
  </mat-tab>
</mat-tab-group>

