@import "src/common";
@import "src/typography";

.list-container {
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  background-color: $slate-100;
  border-right: 1px solid $slate-300;
}

.source-package-card {
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &.selected-list-item {
    background: $white;
    border: 1px solid $vyne-lilac;
    border-radius: 4px;
  }

  &:hover {
    &:not(.selected-list-item) {
      background-color: $slate-200;
      cursor: pointer;
    }
  }

  &.error-state {
    display: flex;
    align-items: start;
    gap: 1rem;

    h3 {
      margin: 0;
    }

    font-size: 0.9rem;
    background-color: $red-50;
    border-color: $red-400;
    border-width: 2px;
    border-radius: 4px;

    &:hover {
      background-color: $red-100;
      // don't let the other hover state override
      border-color: $red-400;
      border-width: 2px;
    }
  }
}

.package-title {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.tag-table {
  .tag-title {
    opacity: 0.8;
  }

  td:not(:last-child) {
    padding-right: 2rem;
  }
}

.icon-bar {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  opacity: 0.8;

  img {
    margin-right: 0.5rem;
    width: 16px;
  }

  .spacer {
    flex-grow: 1;
  }
}

.unhealthy-state {
  color: $error-dark;
  margin-bottom: 0.5rem;
}
