@import "src/common";
@import "./endpoint-list.component";
.axes {
  height: 12.5rem;
  width: 25rem;
  color: #bc71c9;
}

app-code-viewer {
  height: 15rem;
}

.error-notification {
  margin: 1rem 0;
}

.chart-row {
  display: flex;
  .label-box {
    flex-shrink: 0;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: $slate-600;
    }
    .hero-datapoint {
      font-size: 1.2rem;
    }
  }
  apx-chart {
    flex-grow: 1;
  }
}

app-panel-header {
  tui-select {
    width: 10rem;
  }
}

button.small {
  font-size: 0.8rem;
}

app-header-component-layout {
  tui-toggle {
    // Adjust the color of the toggle, as it's shown
    // inside the
    ::ng-deep {
      [tuiWrapper][data-appearance='secondary'] {
        background-color: $slate-300;
        &:hover {
          background-color: $slate-400;
        }
      }
    }
    margin-right: 1rem;
  }
}
