@import "src/theme";
@import "src/tables";

.controls {
  margin-top: 1rem;
}


//noinspection CssInvalidPropertyValue
.container {
  /* autoprefixer: off */
  width: -webkit-fill-available;
  width: -moz-available;
}


.token-list {
  @include vyne-table();
  width: 100%;
  margin-top: 1rem;

  td {
    button {
      margin-right: 1rem;
    }
  }
}
