@import "src/theme";

:host {
  background-color: $body-bg;
  display: block;
}
.page-content {
  font-family: $font-sans-docs;
  display: flex;
}

.documentation {
  flex-grow: 1;
  table {
    width: 100%;
  }
}


mat-toolbar {
  flex: 0 0 $toolbar-height;
  z-index: 999;
  display: flex;
  padding-right: 4rem;
}

.spacer {
  flex-grow: 1;
}

.type-name {
  h1 {
    margin-bottom: 0;
    font-weight: 700;
  }
  margin-bottom: 2rem;
}

app-type-link-graph-container {
  display: block;
  width: 100%;
}
