@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 1px;
  flex-grow: 1;
  width: 100%;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;

  .spacer {
    flex-grow: 1;
  }
}
