@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 1px;
  flex-grow: 1;
  width: 100%;
}

// .toolbar {
//   width: 100%;
//   display: flex;
//   align-items: center;

//   .spacer {
//     flex-grow: 1;
//   }
// }

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 30px 10px;
}

mat-mini-fab {
  color: white;
  width: 30px;
  height: 30px;
}