<div>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Properties" *ngIf="member.attributeNames.length > 0">

            <table class="property-list">
                <thead>
                <th>Name</th>
                <th>Type</th>
                </thead>
                <tbody>
                <tr *ngFor="let attrName of member.attributeNames">
                    <td class="property-name">{{attrName}}</td>
                    <td>
                        <a>
                            <code class="code-link">{{member.member.attributes[attrName].fullyQualifiedName}}</code>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </mat-tab>
        <mat-tab label="Source">
            <div class="source-section" *ngFor="let source of member.sources">
                <h4>As defined by <code>{{ source.origin }}</code></h4>
                <div class="language">{{ source.language }}</div>
                <p>
                    <code [innerHTML]="source.content | nl2br"></code>
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Links">
            <type-links-graph [member]="member"></type-links-graph>
        </mat-tab>
    </mat-tab-group>
</div>