.type-name {
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 0.5rem;
  }
  h4 {
    margin: 0;
    text-transform: none;

  }
}

.clear-icon {
  width: 16px;
}

.clear-button{
  position: absolute;
  right: 0;
  margin-right: 1em;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}
