<app-panel-header title="Copilot">
  <ng-container ngProjectAs="title-content">
    <img src="assets/img/tabler/wand.svg">
  </ng-container>
  <div class="mono-badge">ALPHA</div>
  <a
    tuiLink
    class="button-link"
    [class.is-disabled]="!conversationMessages().length"
    tuiHint="Remove chat history for this tab..."
    tuiHintAppearance="dark"
    (click)="confirmRemoval()"
  >
    <img src="assets/img/tabler/trash.svg">
  </a>
  <div class="spacer"></div>
  <button
    (click)="close.emit()"
    tuiIconButton
    type="button"
    appearance="icon"
    size="xs"
    iconStart="@tui.x"
  ></button>
</app-panel-header>
<div class="results-container" #results>
  @for (result of conversationMessages(); let last = $last; let index = $index; track index) {
    <div class="result" [class.user-text]="result.role === 'user'">
      <div *ngIf="result.role === 'user'">{{result.message}}</div>
      <div *ngIf="result.role === 'assistant'">
        <div class="copilot-tag">COPILOT:</div>
        @for (chunk of result.chunks; track chunk.kind) {
          <markdown *ngIf="chunk.kind === 'Chat'" [data]="chunk['message']"/>
          <div *ngIf="chunk.kind === 'Query'" class="taxi-markdown">
            <div class="markdown-toolbar">
              <div class="taxiql-tag">TaxiQL</div>
              <div class="toolbar-buttons">
                <a
                  tuiLink
                  class="button-link"
                  tuiHint="Copy query"
                  tuiHintAppearance="dark"
                  (click)="copyQuery(chunk['taxi'])"
                >
                  <img src="assets/img/tabler/copy.svg">
                </a>
                <a
                  *ngIf="!last"
                  tuiLink
                  class="button-link"
                  tuiHint="Set in editor"
                  tuiHintAppearance="dark"
                  (click)="findQueryToSetInEditor(index)"
                >
                  <img src="assets/img/tabler/pencil.svg">
                </a>
                <a
                  *ngIf="!last"
                  tuiLink
                  class="button-link"
                  tuiHint="Run editor"
                  tuiHintAppearance="dark"
                  (click)="findQueryToRun(index)"
                >
                  <img src="assets/img/tabler/player-play.svg">
                </a>
              </div>
            </div>
            <markdown [data]="'```taxi\n' + chunk['taxi'] + '\n```'">
            </markdown>
          </div>
          <div *ngIf="last && chunk.kind === 'Query'" class="query-action-button-container">
            <button tuiButton size="s" appearance="outline-grayscale"
                    class="button-small"
                    (click)="findQueryToSetInEditor()"
            >
              <img src="assets/img/tabler/pencil.svg">
              Set in editor
            </button>
            <button tuiButton size="s" appearance="primary"
                    class="button-small"
                    (click)="findQueryToRun()"
                    [disabled]="currentState() === 'Running'"
            >
              <img src="assets/img/tabler/player-play.svg" class='filter-white'>
              Run
            </button>
          </div>
        }
      </div>
    </div>
  }
  <span *ngIf="currentState() === 'Generating'" class='running-timer'>
    <span class='loader'></span>
    <span>Thinking...</span>
  </span>
</div>
<div class="query-container">
  <tui-textarea
    class='flat'
    tuiAutoFocus
    [(ngModel)]='chatQuery'
    (keydown.enter)="submitChat($event)"
  >
    Write a query
  </tui-textarea>
  <a
    tuiLink
    class="button-link submit-query-button"
    [class.is-disabled]="chatQuery() === '' || currentState() === 'Generating'"
    tuiHint="Submit query"
    tuiHintAppearance="dark"
    (click)='submitChat()'
  >
    <img src="assets/img/tabler/message-forward.svg">
  </a>
</div>
