@import "src/theme";

:host {
  display: flex;
  background-color: $slate-100;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-bottom: 1px solid $slate-200;
  align-items: center;
}
.wordmark {
  height: 3rem;
  margin-right: 3rem;
}
.integrator {
  height: 3rem;

}
app-avatar {
  margin-left: 1rem;
}

