@import "../theme";


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.6);
  font-family: "Nunito";
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.6);
  font-family: "Nunito";
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.6);
  font-family: "Nunito";
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);
  font-family: "Nunito";
}

.search-bar {
  *:focus {
    outline: none;
  }

  margin-left: 100px;
  //width: 40rem;
  input {
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 12px;
    border-radius: 6px;
    width: 40rem;
    &:hover {
      border: 1px solid rgba(255,255,255,0.5);
    }
    &:focus {
      border: 1px solid rgba(255,255,255,0.8);
    }
  }
}

.schema-member-container {
  display: inline-table;

  .member-type {
    vertical-align: middle;
    display: table-cell;
    width: 20rem;
    div {
      width: fit-content;
      font-size: 0.7rem;
      padding: 5px 10px;
      border-radius: 15px;

      &.type {
        background-color: #afdfff;
      }
      &.operation {
        background-color: #5D38DB;
        color: #fafafa;
      }
    }
  }
  .member-qualified-name {
    display: table-cell;
    vertical-align: middle;
    width: 40rem;
  }
  .member-package {
    font-family: $mono;
    font-size: 0.7rem;
    color: $grey-1
  }
  .member-type-alias {
    vertical-align: middle;
    display: table-cell;

    font-family: $mono;
    font-size: 0.8rem;
    color: $grey-3
  }
}
