<mat-toolbar color="primary">
  <span>Data Explorer</span>
  <span class="toolbar-spacer"></span>
  <app-search-bar-container></app-search-bar-container>
</mat-toolbar>
<div class="page-content">
  <div class="header">
    <app-data-source-toolbar [schema]="schema"
                             (fileDataSourceChanged)="onFileSelected($event)"
                             (selectedTypeChanged)="contentType = $event"
    ></app-data-source-toolbar>
  </div>

  <div class="content">
    <app-object-view *ngIf="parsedInstance" [schema]="schema"
                     [instance]="parsedInstance.typeNamedInstance"></app-object-view>
  </div>
</div>

