<mat-toolbar color="primary">
  <span>Data Explorer</span>
  <span class="toolbar-spacer"></span>
  <app-search-bar-container></app-search-bar-container>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end" [(opened)]="showSidePanel">
    <div class="drawer-content">
      <app-typed-instance-panel-container
        [instance]="selectedTypeInstance"
        [type]="selectedTypeInstanceType"
      ></app-typed-instance-panel-container>
    </div>
  </mat-drawer>
  <div class="content">
    <app-data-source-toolbar [schema]="schema"
                             (cleared)="clearFile()"
                             (fileDataSourceChanged)="onFileSelected($event)"
                             (selectedTypeChanged)="contentType = $event"
                             (csvOptionsChanged)="onCsvOptionsChanged($event)"
    ></app-data-source-toolbar>

    <div class="result-status error-display" *ngIf="parserErrorMessage">
      <i class="material-icons">error_outline</i>
      <span>{{ parserErrorMessage.message }}</span>
    </div>

    <div class="cask-container" *ngIf="fileContents && contentType">
      <app-cask-panel [csvOptions]="csvOptions"
                      [format]="fileExtension"
                      [caskServiceUrl]="caskServiceUrl"
                      [contents]="fileContents"
                      [targetTypeName]="contentType.name.fullyQualifiedName"
      ></app-cask-panel>
    </div>
    <mat-tab-group animationDuration="250ms"
                   *ngIf="fileContents"
                   (selectedTabChange)="onSelectedTabChanged($event)">
      <mat-tab label="Source" *ngIf="fileContents">
        <app-csv-viewer [source]="csvContents" *ngIf="isCsvContent"
                        [firstRowAsHeaders]="csvOptions.firstRowAsHeader"
        ></app-csv-viewer>
        <td-highlight lang="json" [content]="fileContents" *ngIf="!isCsvContent">
        </td-highlight>
      </mat-tab>
      <mat-tab label="Schema" *ngIf="contentType">
        <app-code-viewer [sources]="contentType?.sources" #appCodeViewer></app-code-viewer>
      </mat-tab>
      <mat-tab label="Parsed Data" *ngIf="parsedInstance">
        <div class="object-view-wrapper">
          <app-object-view *ngIf="parsedInstance" [schema]="schema"
                           [selectable]="true"
                           (instanceClicked)="onInstanceClicked($event)"
                           [instance]="typeNamedInstance"></app-object-view>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-sidenav-container>
