:host {
  overflow: hidden;
}

.intro-text {
  margin-top: 0;
}

.island-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;

  tui-island {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tui-island__paragraph_button {
      text-align: center;
    }
  }
}

.icon {
  background-color: var(--tui-secondary);
  padding: 0.5rem;
  float: right;

  ::ng-deep img {
    filter: invert(82%) sepia(0%) saturate(1499%) hue-rotate(167deg) brightness(93%) contrast(89%);
  }
}

.project-added {
  margin-bottom: 2rem;

  h3 {
    margin-right: 1rem;
  }

  .next-step {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
