<ng-container *ngIf="step !== 'projectAdded' && !hasAddedProject; else hasAddedTemplate">
  <h3 class="intro-text">Projects are where you define your data sources, and hold your API specs.</h3>
  <p>You currently have {{ projectCount | i18nPlural: projectCountPluralMap }}, you can add a new project via the
    {{ uiConfig.productName }} interface (where you are now) or via a microservice.</p>
  <p>So what’s it gonna be? </p>
</ng-container>
<ng-template #hasAddedTemplate>
  <div class="project-added">
    <h3 class="intro-text">Great! Now that you've added a project, continue on to create a data source for it</h3>
    <p class="next-step">
      (or feel free to hang around and create another project, now that you're a pro at that)
      <button tuiButton size="m" [routerLink]="['/onboarding/data-source' ]">Next step</button>
    </p>
  </div>
</ng-template>
<app-project-list #projectList [isListOpen]="step === 'projectAdded'" (projectCountUpdated)="projectCount = $event"></app-project-list>

<!--Options-->
<div class="island-container tui-space_top-4" *ngIf="step === 'options' || step === 'projectAdded'">
  <tui-island>
    <div>
      <tui-avatar
        avatarUrl="assets/img/tabler/brand-git.svg"
        new
        [rounded]="true"
        size="xs"
        class="icon"
      ></tui-avatar>
      <h3 class="tui-island__title">Git Repository</h3>
      <p class="tui-island__paragraph">
        Connect Orbital to a Git repository to add individual OpenAPI schemas, or entire Taxi projects
      </p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconRight="tuiIconPlus" (click)="step = 'gitRepo'">Add</button>
    </p>
  </tui-island>
  <tui-island>
    <div>
      <tui-avatar
        avatarUrl="assets/img/tabler/server.svg"
        new
        [rounded]="true"
        size="xs"
        class="icon"
      ></tui-avatar>
      <h3 class="tui-island__title">Local disk</h3>
      <p class="tui-island__paragraph">Read projects directly from the local machine.</p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconRight="tuiIconPlus" (click)="step = 'localDisk'">Add</button>
    </p>
  </tui-island>
  <tui-island>
    <div>
      <tui-avatar
        avatarUrl="assets/img/tabler/topology-star-3.svg"
        new
        [rounded]="true"
        size="xs"
        class="icon"
      ></tui-avatar>
      <h3 class="tui-island__title">Microservice</h3>
      <p class="tui-island__paragraph">Need a description (and action) for this...</p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconRight="tuiIconPlus" (click)="step = 'microService'">Add</button>
    </p>
  </tui-island>
</div>

<!--Git Repo-->
<tui-island class="tui-space_top-4" *ngIf="step === 'gitRepo'">
  <div>
    <tui-avatar
      avatarUrl="assets/img/tabler/brand-git.svg"
      new
      [rounded]="true"
      size="xs"
      class="icon"
    ></tui-avatar>
    <h3 class="tui-island__title">Git Repository</h3>
    <app-git-config
      [isOnboardingMode]="true"
      (gitRepoAdded)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'"
    >
    </app-git-config>
  </div>
</tui-island>

<!--Local disk-->
<tui-island class="tui-space_top-4" *ngIf="step === 'localDisk'">
  <div>
    <tui-avatar
      avatarUrl="assets/img/tabler/server.svg"
      new
      [rounded]="true"
      size="xs"
      class="icon"
    ></tui-avatar>
    <h3 class="tui-island__title">Local disk</h3>
    <app-file-config
      [isOnboardingMode]="true"
      (localFileAdded)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'">

    </app-file-config>
  </div>
</tui-island>

<!--Microservice-->
<tui-island class="tui-space_top-4" *ngIf="step === 'microService'">
  <div class="tui-space_bottom-2">
    <tui-avatar
      avatarUrl="assets/img/tabler/server.svg"
      new
      [rounded]="true"
      size="xs"
      class="icon"
    ></tui-avatar>
    <h3 class="tui-island__title">Microservice</h3>
    <p class="tui-island__content ">What to put in here???</p>
  </div>
  <button
    appearance="flat"
    size="m"
    tuiButton
    type="button"
    class="tui-island__footer-button"
    (click)="step = 'options'"
  >
    Back
  </button>
</tui-island>

