@import "src/theme";

$font-size: 0.9rem;
table {
  width: 100%;
  padding-bottom: 16px;
  tr:last-child {
    border-bottom: none;
    td {
      border-bottom: none !important;
    }
  }
}

.type-name {
  font-family: $mono;
}

.no-attributes {
  padding: 8px;
  font-size: $font-size;
}

.mat-cell {
  font-size: $font-size;
}
