::ng-deep .drop-container {
  padding: 1rem;
}

::ng-deep .drop-container-content {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    margin-right: 1rem;
  }

  button {
    margin-left: 3rem;
  }

  .hidden-browse-button {
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

}
