@import "../theme";

.container {
  flex: 1;
  &:not(:last-child) {
    padding-right: 45px;
  }

}
.fact-forms-container {

}

.results-container {
  width: 100%
}

.target-type-container {
  .mat-form-field {
    width: 100%;
  }
  .target-type-input {

  }
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 35px;
}
