@import "../theme";

.container {
  width: 30%;
  display: inline-grid;
  padding-right: 45px;
}
.fact-forms-container {

}

.results-container {
}

.target-type-container {
  .mat-form-field {
    width: 100%;
  }
  .target-type-input {

  }
}
