<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
      vyne.logging.format can have the following values:

      text
      json

      When it is not specified its value is set to text

    -->
    <springProperty scope="context" name="vyne.logging.format" source="vyne.logging.format" defaultValue="text"/>

    <if condition='property("vyne.logging.format").equals("json")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                    <withFormattedMessage>true</withFormattedMessage>
                    <withMessage>false</withMessage>
                    <withArguments>false</withArguments>
                    <withProperties>false</withProperties>
                    <withContext>false</withContext>
                    <withSequenceNumber>false</withSequenceNumber>
                    <withNanoseconds>false</withNanoseconds>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger - [%X{ClientQueryId} %X{QueryId} %X{QueryName}] - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
