<div class="md-content" class="inset">
    <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="100">
            <md-card>
              <md-card-title>Product Usage</md-card-title>
              <md-divider></md-divider>
              <div class="chart-height push-top-sm pull-bottom">
                <ngx-charts-line-chart
                  [scheme]="colorScheme"
                  [results]="multi"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [autoScale]="autoScale"
                  [yAxisTickFormatting]="axisDigits">
                </ngx-charts-line-chart>
              </div>
          </md-card>
        </div>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="100">
            <md-card>
                <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
                    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                        <span class="md-title">Product Stats</span>
                    </span>
                    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
                    </td-search-box>
                </div>
                <md-divider></md-divider>
                <td-data-table
                    #dataTable
                    [data]="filteredData"
                    [columns]="columns"
                    [sortable]="true"
                    [sortBy]="sortBy"
                    [sortOrder]="sortOrder"
                    (sortChange)="sort($event)">
                </td-data-table>
                <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                    <h3>No results to display.</h3>
                </div>
                <!--<td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">-->
                    <!--<span td-paging-bar-label hide-xs>Row per page:</span>-->
                    <!--{{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>-->
                <!--</td-paging-bar>-->
            </md-card>
        </div>
    </div>
</div>
