@import "src/theme";

.sidenav-container {
  height: 100%;
}

.logo {
  img {
    vertical-align: middle;
    width: 36px;
    padding-right: 15px;
  }
  span {
    vertical-align: middle;
    font-weight: 600;
  }

}

.sidenav {
  width: 230px;
  background-color: $dark-blue-1;
  border-right: 1px solid rgba(0,0,0,0.15);
}

.navbar-route {

  opacity: 0.6;
  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  text-align: center;
  //font-family: $body-font;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  a {
    padding: 24px;
    display: flex;
    align-items: center;
    img {
      width:  36px;
      margin-right: 18px;
    }
    span {
      flex-grow: 1;
      text-align: left;
    }
    &.active {
      background-color: rgba(0,0,0,0.5);
      //color: #8cc63e;
    }
  }
}

.appInfo {
  position: absolute;
  bottom: 0px;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.6);
  padding: 15px;
}
