@import "src/theme";

:host {
  height: 100%;
  display: flex;
}
.alerts-container {
  width: 100%;
}

.app-content-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.app-page-content {
  flex-grow: 1;
  background-color: $body-bg;
}

.sidenav-container {
  height: 100%;
}

.logo {
  padding: 24px 16px;
  img {
    vertical-align: middle;
    width: 65%;
  }

  span {
    vertical-align: middle;
    font-weight: 600;
  }

}

.sidenav {

  width: $sidenav-width;
  background-color: $midnight-grey;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar-route {

  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  text-align: center;

  font-size: 1rem;
  font-weight: 400;

  a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 24px;
    display: flex;
    align-items: center;

    img {
      width: 36px;
      margin-right: 18px;
    }

    span {
      flex-grow: 1;
      text-align: left;
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.8);
      //color: #8cc63e;
    }
  }
}

.userInfo {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

.appInfo {
  position: absolute;
  bottom: 0px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}
