@import "src/theme";
@import "src/forms";


.icon {
  width: 24px;
  margin-right: 1rem;
}

.tab-panel {
  margin-top: 1rem;
}

.form-container {
  margin-top: 1rem;
}

.form-row {
  margin-bottom: 2rem;
}
