@import "src/styles";
@import "src/page-styles";
@import "src/tables";
@import "src/toolbar";
@import "service-view-common-styles";
.operation-list {
  @include vyne-table()
}

app-service-lineage-graph-container {
  height: 600px;
}
