@import "src/theme";
@import "call-explorer.component";

.operation-view {
  background-color: $blue-grey-1;
  position: relative;
}

.close-container {
  position: absolute;
  right: 20px;
  top: 20px;
}

.summary-container {
  padding: 20px;
  color: $body;

  .name-and-status {
    h3 {
      margin-right: 60px;
    }

    display: flex;
    align-items: center;
  }
}

.verb {
  background-color: #5160ff;
  color: $whiteish;
}

.address {
  font-family: $mono;
}

.summary-container {
  //div {
  //  margin-bottom: 15px;
  //}
}

.response-code-line {
  span {
    margin-right: 40px;
    //border: 1px solid $whiteish;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 600;
    white-space: nowrap;
  }

  .duration {
    background-color: $vyne-lilac;
  }

  .status-success {
    background-color: $vyne-green;
  }

  .status-error {
    background-color: #ac2b82;
  }

}
