@import "src/theme";

:host {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.column {
  min-width: 10rem;
  margin-right: 1rem;
}

.subtle {
  font-size: 0.9rem;
  opacity: 0.6;
}

h4 {
  margin-bottom: 0.5rem;
}
