<div class="flex h-full flex-col">
  <!-- Top nav-->
  <header class="relative flex h-16 flex-shrink-0 items-center bg-white">
    <!-- Logo area -->
    <div class="absolute inset-y-0 left-0 md:static md:flex-shrink-0">
      <a href="#"
         class="flex h-16 w-28 items-center justify-center bg-midnight focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="Your Company">
      </a>
    </div>

    <!-- Desktop nav area -->
    <app-navbar class="md:flex md:min-w-0 md:flex-1 md:items-center md:justify-between"></app-navbar>

  </header>

  <!-- Bottom section -->
  <div class="flex min-h-0 flex-1 overflow-hidden">
    <!-- Narrow sidebar-->
    <app-sidebar></app-sidebar>

    <!-- Main area -->
    <main class="min-w-0 flex-1 border-t border-gray-200 lg:flex mt-8 ml-8 mr-8">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
