@import "src/theme";
@import "src/toolbar";
@import "src/page-styles";
@import "src/typography";



.spacer {
  flex-grow: 1;
}

.spacer-gap {
  width: 4rem;
}
// Deprecated, use page-heading
.type-name {
  @extend .page-heading
}

app-type-link-graph-container {
  display: block;
  width: 100%;
}

// section tags that don't contain an h2 heading need
// a little etra padding to look good
section.no-h2 {
  margin-top: 1rem;
}

mat-button-toggle-group {
  margin-bottom: 1rem;
 }
