<nav id="app_main-menu-wrapper">
	<div class="sidebar-inner sidebar-push" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
		<ul class="nav nav-pills flex-column">
			<li class="sidebar-header">NAVIGATION</li>
			<li routerLinkActive="active"><a matRipple href="javascript:void(0)" [routerLink]="['/type-explorer']" class=""><i class="zmdi zmdi-compass"></i>Type explorer</a></li>
			<li routerLinkActive="active"><a matRipple href="javascript:void(0)" [routerLink]="['/schema-editor']" class=""><i class="zmdi zmdi-code-setting"></i>Schema Editor</a></li>
			<li routerLinkActive="active"><a matRipple href="javascript:void(0)" [routerLink]="['/query-editor']" class=""><i class="zmdi zmdi-search-in-page"></i>Query Editor</a></li>
		</ul>
	</div>
</nav>
