@import "src/theme";
:host {
  border-bottom: 1px solid rgba($vyne-lilac, 0.3);
  //border-radius: 8px;
  padding: 1rem 0;
  //margin-bottom: 1rem;
  width: 720px;
  display: flex;
  flex-direction: column;
}


.tree-node.child {
  margin: 0.5rem 0 2rem;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: -0.75rem;
    z-index: -1;
    top: 1rem;
  }

  &:before {
    width: 1rem;
    border-bottom: 1px solid var(--tui-base-04);
  }


}


.tree-node.child.isLastChild {
  &:after {
    top: -1rem;
    bottom: 4.0rem; // Magic variable, calculated by fiddling about.
    border-left: 1px solid var(--tui-base-04);
  }
}


.tree-node.child:not(.isLastChild) {
  // Controls the tree borders on expanded nodes.
  // These values are all magic, calculated by fiddling about.
  &:after {
    // Top and bottom should be the same.
    top: -0.5rem;
    bottom: 0.5rem;
    border-left: 1px solid var(--tui-base-04);
  }
}
