<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Product Name</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <td-layout-card-over cardTitle="User form" cardSubtitle="fill form to {{action}} user">
    <ng-template tdLoading="user.form">
      <md-card-content class="push-bottom-none">
        <form #userForm="ngForm">
          <div layout="row">
            <md-input-container flex> 
              <input mdInput
                      #displayNameElement
                      #displayNameControl="ngModel"
                      type="text" 
                      placeholder="Display Name" 
                      [(ngModel)]="displayName" 
                      name="displayName" 
                      maxlength="20" 
                      required>
              <md-hint align="start">
                <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.hasError('required')">Required</span>
                </span>
              </md-hint>
              <md-hint align="end">{{displayNameElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #emailElement
                      #emailControl="ngModel"
                      type="text" 
                      placeholder="Email" 
                      [(ngModel)]="email" 
                      name="email"
                      maxlength="30"
                      pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
                      required>
              <md-hint align="start">
                <span [hidden]="emailControl.pristine" class="tc-red-600">
                  <span [hidden]="!emailControl.hasError('required')">Required</span>
                  <span [hidden]="!emailControl.hasError('pattern')">incorrect pattern</span>
                </span>
              </md-hint>
              <md-hint align="end">{{emailElement.value.length}} / 30</md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            <md-slide-toggle [(ngModel)]="admin" name="admin">Admin</md-slide-toggle>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">SAVE</button>
        <button md-button (click)="goBack()">CANCEL</button>
      </md-card-actions>
    </ng-template>
  </td-layout-card-over>
</td-layout-nav>
