.schema-name {
  padding-right: 20px;
}

.page-content {
  padding: 20px;
}

.empty-state {
  text-align: center;
  width: 500px;
  font-size: 1.4rem;
  opacity: 0.5;
  margin: auto;
  img {
    width: 256px;
    opacity: 0.4;
  }
}
