@import "../theme";

.title-bar {
  background-color: $light-grey-2;
  display: flex;
  h4 {
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  button {
    width: unset !important;
    height: unset !important;
    line-height: unset !important;
  }
  padding: 10px;
}

.container {
  height: 100%;
  display: flex;

  .results-section {
    flex-grow: 1;
    .results-container {
      margin: 10px;
    }
  }
}

.list-container {
  width: 400px;
  height: 100%;
  background-color: $light-grey-1;
  border-right: 1px solid $light-grey-2;
}

.history-item {
  cursor: pointer;
  background-color: $whiteish;
  padding: 10px 20px;
  border-bottom: 1px solid $light-grey-2;
  &:hover {
    background-color: $light-grey-1;
  }
}

.query-description {
  font-family: $mono;
  line-height: 1.5rem;
  font-size: 1rem;

  .type-name {
    border: 1px solid $light-grey-3;
    background-color: $light-grey-1;
    padding: 2px;
    border-radius: 4px;
  }
}

.timestamp-row {
  font-size: 0.8rem;
  color: $dark-grey-1;
}
