<app-card
  *ngIf="queries$ | async as queries"
  title="Endpoints"
  titleLink="/endpoints"
  [description]="queries.length ? 'Select an endpoint and time range' : 'You need to add an endpoint first to view metrics here'"
  icon="/assets/img/tabler/broadcast.svg"
>
  <div *ngIf="!queries.length" class="endpoint-onboarding">
    You can do that by <a class="link" [href]="UiCustomisations.docsLinks.publishQueriesAsEndpoints" target="_blank">following the documentation</a> or by saving a query in the <a routerLink="query/editor">query editor</a> and then publishing it from there.
  </div>
  <app-endpoint-monitor
    *ngIf="queries.length"
    [onlyShowControlsInHeader]="true"
    [endpointName$]="selectedEndpoint$"
  >
    <ng-container ngProjectAs="header-controls">
      <tui-select class="query-select"
                  tuiTextfieldSize="s"
                  [tuiTextfieldLabelOutside]="true"
                  [stringify]="stringifyQuery"
                  [ngModel]="selectedQuery$ | async"
                  (ngModelChange)="selectedQuery$.next($event)"
      >
        Queries
        <input
          placeholder="Queries"
          tuiTextfield
        />
        <tui-data-list *tuiDataList>
          <button class="small" *ngFor="let query of queries" tuiOption
                  [value]="query">{{ query.label }}
          </button>
        </tui-data-list>
      </tui-select>
    </ng-container>
  </app-endpoint-monitor>
</app-card>
