<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <springProperty scope="context" name="logstashHostname" source="logstash.hostname" defaultValue="logstash"/>
   <springProperty scope="context" name="logstashPort" source="logstash.port" defaultValue="5044"/>
   <springProperty scope="context" name="appName" source="spring.application.name"/>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
      </encoder>
   </appender>

   <springProfile name="logstash">
      <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
         <destination>${logstashHostname}:${logstashPort}</destination>

         <!-- encoder is required -->
         <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${appName}"}</customFields>
         </encoder>
      </appender>

   </springProfile>


   <root level="INFO">
      <appender-ref ref="STDOUT" />
      <springProfile name="logstash">
         <appender-ref ref="stash" />
      </springProfile>
   </root>
</configuration>
