<as-split direction="horizontal" unit="pixel">
  <as-split-area order="0" size="250" *ngIf="displaySidebar">
    <app-file-tree [files]="fileTreeNodes" (itemClicked)="select($event)"
                   [selectedFilename]="selectedSource?.source?.name"
    ></app-file-tree>
  </as-split-area>
  <as-split-area size="*" order="1">
    <div class="code-viewer-container">
      <app-code-editor class="code-editor"
                       [content]="sourceContent"
                       [showCompilationProblemsPanel]="showCompilationProblemsPanel"
                       [compilationMessages]="selectedSource?.errors"
                       [readOnly]="true"
      ></app-code-editor>
    </div>
  </as-split-area>
</as-split>

