:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 2rem 0 0; // override padding to remove the bottom
}

.container {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  padding: 0;
  flex-grow: 1;
  height: 10px;
}

.content-box {
  background-color: white;
  border-radius: 6px;
  padding: 0 1rem;
}

.schema-diagram-container {
  width: 10px;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 3rem;
}
app-schema-diagram {
  height: 800px;
}

.changelog-container {
  width: 10px;
  flex-grow: 1;
  max-width: 35rem;
  overflow: auto;
}

app-changelog-list {
  display: block;
}
app-search-bar-container {
  display: block;
  margin-bottom: 1rem;
}
