<configuration debug="false">

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <encoder>
         <pattern>jdbc-connector %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger - %msg%n</pattern>
      </encoder>
   </appender>

   <!--   <logger name="org.jooq.tools.LoggerListener" level="debug">-->
   <!--      <appenderRef ref="STDOUT"/>-->
   <!--   </logger>-->

   <!-- Other jOOQ related debug log output -->
   <!--   <logger name="org.jooq" level="debug">-->
   <!--      <AppenderRef ref="STDOUT"/>-->
   <!--   </logger>-->


   <root level="INFO">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>
