<div id="content_wrapper" class="leftSidenav2-wrapper">
   <mat-sidenav-container class="sidenav-container">
      <div class="content">
         <div class="header-wrapper header-sm app_secondary_bg">
            <header class="container-fluid">
               <div class="row">
                  <h1>Schema Editor</h1>
               </div>
            </header>
            <ul class="actions icons top-left">
               <li>
                  <!-- (click)="leftSidenav2.toggle()" -->
                  <a href="javascript:void(0)">
                     <i class="zmdi zmdi-menu"></i>
                  </a>
               </li>
            </ul>
         </div>
         <div class="content-body">
            <mat-tab-group>
               <mat-tab label="Code editor">
                  <div class="code-editor-container">
                     <td-code-editor theme="vs" flex language="sql"
                                     [editorOptions]="{fontFamily:'Roboto Mono', formatOnType: true, folding: true, autoIndent: true}"
                                     [(ngModel)]="taxiDef" (change)="onTaxiDefChanged()"></td-code-editor>
                  </div>
                  <mat-expansion-panel>
                     <mat-expansion-panel-header>
                        <mat-panel-title>
                           Errors ({{errors.length}})
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                     <!-- TODO : Offline currently.  npm i @swimlane/ngx-datatable   ,then try again -->
                     <ngx-datatable class="material" [rows]="errors" [columns]="errorTableColumns"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="50"></ngx-datatable>

                  </mat-expansion-panel>
               </mat-tab>
               <mat-tab label="Type explorer">
                  <form class="example-form">
                     <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="explorerStartingTypeCtrl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                           <mat-option *ngFor="let option of filteredTypes | async" [value]="option" (onSelectionChange)="onStartingTypeSelected($event)">
                              {{option}}
                           </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                  </form>
                  <div style="position: relative">
                     <type-links-graph [member]="selectedMemeber"></type-links-graph>
                  </div>

               </mat-tab>
               <mat-tab label="Diagram">
                  <ngx-charts-directed-graph class="chart-container" [legend]="showLegend" [links]="schemaLinks.links"
                                             (legendLabelClick)="onLegendLabelClick($event)"
                                             [nodes]="schemaLinks.nodes" [view]="chartDimensions" [autoZoom]="autoZoom"
                                             [scheme]="colorScheme" [orientation]="orientation"
                                             [curve]="curve" (select)="select($event)">

                     <template #defsTemplate>
                        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                           <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                        </svg:marker>
                     </template>

                     <template #nodeTemplate let-node>
                        <svg:g class="node">
                           <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
                           <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
                        </svg:g>
                     </template>

                     <template #linkTemplate let-link>
                        <svg:g class="edge">
                           <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                           </svg:path>
                           <svg:text class="edge-label" text-anchor="middle">
                              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                 {{link.label}}
                              </textPath>
                           </svg:text>
                        </svg:g>
                     </template>

                  </ngx-charts-directed-graph>
               </mat-tab>
            </mat-tab-group>
         </div>
      </div>
   </mat-sidenav-container>

</div>
