@import "src/styles";

.container {
  width: 25rem;
}

.key-value-pill {
  font-size: 0.8rem;
  border: 1px solid $vyne-lilac;
  border-radius: 4px;
  width: fit-content;

  .key {
    padding: 3px 4px;
    display: inline-block;
    border-right: 1px solid rgba($vyne-lilac, 0.6);
  }

  .value {
    padding: 3px 4px;
  }
}
