<h2>Create a new pipeline</h2>
<div class="form-container">
  <div class="form-body" [formGroup]="pipelineSpecFg">
    <app-form-row title="Pipeline name" helpText="Provide a unique name that describes the pipeline">
      <mat-form-field appearance="outline">
        <mat-label>Pipeline name</mat-label>
        <input matInput formControlName="name" required autocomplete="off">
        <mat-error *ngIf="pipelineSpecFg.controls['name'].invalid">This field is required</mat-error>
      </mat-form-field>
    </app-form-row>

    <app-form-row title="Source" helpText="Configure the source of the data feed">
      <app-transport-selector direction="source"
                              [transports]="pipelineSources"
                              [control]="pipelineSpecFg.get('input')"
      >
      </app-transport-selector>
    </app-form-row>
    <!--    <h4>{{ pipelineTransportLabel(pipelineSpecFg.get('input')?.value) }} configuration</h4>-->
    <app-input-editor *ngIf="pipelineSpecFg?.get('input')?.value"
                      [transportSpecType]="pipelineSpecFg?.get('input')?.value.type"
                      [schema]="schema"
                      [pipelineTransportSpecFg]="pipelineSpecFg.get('inputSpec')"
                      [label]="pipelineTransportLabel(pipelineSpecFg.get('input')?.value) + ' configuration'"></app-input-editor>


    <app-form-row title="Target" helpText="Configure the target of the data feed">
      <app-transport-selector direction="target"
                              [transports]="pipelineTargets"
                              [control]="pipelineSpecFg.get('output')">
      </app-transport-selector>
    </app-form-row>
    <app-output-editor
                       *ngIf="pipelineSpecFg?.get('output')?.value"
                       [transportSpecType]="pipelineSpecFg?.get('output')?.value.type"
                       [schema]="schema"
                       [label]="pipelineTransportLabel(pipelineSpecFg.get('output')?.value) + ' configuration'"
                       [pipelineTransportSpecFg]="pipelineSpecFg.get('outputSpec')"></app-output-editor>


    <div class="form-buttons">
      <!--    <button mat-stroked-button (click)="doTestConnection()" [disabled]="!isValid">Test connection</button>-->
      <div class="spacer"></div>
      <button mat-flat-button color="primary" [disabled]="pipelineSpecFg.invalid" (click)="createPipeline()">Create
      </button>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="working"></mat-progress-bar>
    <div class="test-result-box error-message" *ngIf="!working && pipelineErrorMessage">Failed to create the
      pipeline: {{ pipelineErrorMessage }}</div>
    <div class="test-result-box success-message" *ngIf="!working && pipelineStatus">Pipeline created successfully</div>
  </div>
</div>
