@import "src/theme";
:host {
  font-size: 0.9rem;
}
.field-row {
  font-family: $mono;
  font-size: 0.8rem;
}
.field-name {
  color: $body;
  font-weight: bold;
}

.field-spacer {
  padding: 0 1rem;
}

tui-tag {
  margin-left: 1rem;
}

.toggle-buttons-row {
  display: flex;
  tui-checkbox-labeled {
    margin-right: 1.5rem;
  }
  margin: 0.5rem 0;
  ::ng-deep button {
    opacity: 1 !important;
  }
}

.editable-description {
  cursor: pointer;
}

.description-editor {
  margin-top: 1rem;
  width: 35em;
}
