@import "src/theme";
@import "src/toolbar";
@import "src/forms";

:host(.vyne) {
  background-color: $body-bg;
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
}

.page-content {
  padding: 1rem 2rem;
  overflow: auto;
  display: flex;
}

.step {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
