<configuration>
   <!-- Configure the Console appender -->
   <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern
         >%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
   <appender name="Sentry" class="io.sentry.logback.SentryAppender">
      <options>
         <!-- NOTE: DSN should be set as an env variable SENTRY_DSN -->
<!--         <dsn></dsn>-->
      </options>
   </appender>

   <!-- Enable the Console and Sentry appenders, Console is provided as an example
of a non-Sentry logger that is set to a different logging threshold -->
   <root level="INFO">
      <appender-ref ref="Console" />
      <appender-ref ref="Sentry" />
   </root>
</configuration>
