@import "src/theme";

.container {
  width: 100%;
  flex: 1;

  &:not(:last-child) {
    padding-right: 45px;
  }
}

.mat-tab-header {
  border-bottom: 0px;
}

.code-viewer-container {
  padding-top: 0.5rem;
  // Note - this is the background color of the monaco code editor.
  // Found it by using the eye dropper tool, can't see where it's configured.
  background-color: #1e1e1e;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 200px;

  .code-editor {

    width: 100%;
    height: 100%;

  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.query-submit-button {
  margin: 1rem 0;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 32px;
  margin-bottom: 3px;
}


