@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.code-editor-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-tab-header {
  border-bottom: 0px;
}

$warning: #DD8902;
.unmatched-nodes-alert {
  display: flex;
  background-color: rgba($warning, 0.15);
  border: 2px solid rgba($warning, 0.8);
  margin: 1rem;
  border-radius: 4px;
  color: darken($warning, 20%);
  padding: 1rem;
  align-items: center;
  font-size: 0.9rem;

  ul {
    margin: 0.5rem 0;
  }

  img {
    width: 48px;
    margin-right: 1.5rem;
  }

}

.code-viewer-container {
  padding-top: 0.5rem;
  // Note - this is the background color of the monaco code editor.
  // Found it by using the eye dropper tool, can't see where it's configured.
  background-color: #1e1e1e;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 120px;

  // When resizing the splitter container, make sure this is the bit the grows
  flex-grow: 1;

  .code-editor {

    width: 100%;
    height: 100%;

  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.query-submit-button {
  margin: 1rem 0;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 32px;
  margin-bottom: 3px;
}

app-query-editor-bottom-bar {
  display: block;
  width: 100%;
  // Overflow hidden because the ngx-monaco editor is causing width sizing
  // issues, which can incorrectly trigger horizontal scrollbars appearing
  overflow-x: hidden;

  // When resizing the splitter, don't let this bar shrink
  flex-shrink: 0;
}

app-tabbed-results-view {
  flex: 1;
}
