@import "src/theme";

.container {
  display: flex;
  align-items: center;

  .file-input-container {
    margin-right: 3rem;
  }

  app-type-autocomplete {
    flex-grow: 1;
  }
}

.file-icon {
  height: 24px;
  margin-right: 0.5rem;
  opacity: 0.6;
}

.selected-file {
  display: flex;
  align-items: center;

  border: 1px solid rgba($vyne-lilac, 0.5);
  padding: 0.4rem;
  background-color: rgba($vyne-lilac, 0.1);
  border-radius: 6px;

  font-size: 0.85rem;

  span {
    margin-right: 0.5rem;
  }

  .close-icon {
    cursor: pointer;
    height: 16px;
  }
}
