<as-split direction='horizontal' unit='percent'>
  <as-split-area [order]="0">
    <as-split direction='vertical' unit='percent' class='query-panel-split'>
      <as-split-area [size]='50'>
        <div class="code-editor-panel-container">
          <app-panelset>
            <app-panel icon="assets/img/tabler/history.svg" title="Query History">
              <app-query-history-panel
                (queryHistoryElementClicked)="queryHistoryElementClicked($event)"></app-query-history-panel>
            </app-panel>
            <app-panel icon="assets/img/tabler/device-floppy.svg" title="Saved queries">
              <app-saved-queries-panel
                (savedQueryClicked)="onSavedQuerySelected.emit($event)"
              ></app-saved-queries-panel>
            </app-panel>
          </app-panelset>
          <div class='code-editor-section'>
            <app-query-editor-toolbar
              [currentState]='state.currentState'
              [queryStarted]="state.queryStartTime()"
              [runningQueryStatus]='state.queryMetadata() | async'
              [resultType]="state.resultType()"
              [isQuerySaveable]="state.isQuerySaveable()"
              [savedQueryWithSource]="state.savedQueryWithSource()"
              (showCopilotPanel)="showCopilot = !showCopilot"
              [isCopilotOpen]="showCopilot"
              (executeQuery)='submitQuery.emit()'
              (cancelQuery)='cancelQuery.emit()'
              (copyQuery)='onCopyQuery.emit($event)'
              (saveClicked)="saveQuery()"
              (publishAsHttpEndpoint)="createEndpoint('HTTP')"
              (publishAsWebsocketpoint)="createEndpoint('WEBSOCKET')"
            >
            </app-query-editor-toolbar>
            <tui-notification
              size="s"
              appearance="error"
              *ngIf="state.lastErrorMessage()"
              class='error-notification'
            ><div>
              <div class='error-message'>{{ state.lastErrorMessage() }}</div>
            </div></tui-notification>
            <div class='code-viewer-container'>
              <app-code-editor
                class='code-editor'
                [actions]='customActions'
                [content]="state.query()"
                [showCompilationProblemsPanel]="true"
                (contentChange)="queryChanged.emit($event)"
                [cursorPosition]="state.lastCursorPosition()"
                (cursorPositionChanged)="cursorPositionChanged.emit($event)"
                #editor
              ></app-code-editor>
            </div>
          </div>
        </div>
      </as-split-area>
      <as-split-area size='50'>
        <app-error-panel *ngIf='lastQueryResultAsSuccess?.unmatchedNodes?.length > 0'
                         [queryResult]='lastQueryResultAsSuccess'>
        </app-error-panel>
        <app-tabbed-results-view [instances$]='state.potentiallyPausedResults()'
                                 [profileData$]='state.queryProfileData()'
                                 [queryPlanData$]='state.queryPlanData()'
                                 [errorMessages$]="state.errors()"
                                 [errorCount]="state.errorCount()"
                                 [type]="state.resultType()"
                                 [anonymousTypes]="state.anonymousTypes()"
                                 [isQueryRunning]='state.currentState() === "Running"'
                                 [isStreamingQuery]="isStreamingQuery"
                                 [isQueryPaused]="state.isQueryPaused()"
                                 [showMaxRecordCountWarning]="state.showMaxRecordCountWarning()"
                                 [queryStartTime]="state.queryStartTime()"
                                 (instanceSelected)='state.valuePanelVisible.set(true); state.instanceSelected().next($event)'
                                 (downloadClicked)='downloadQueryHistory($event.format)'
                                 (loadProfileData)='loadProfileData.emit()'
                                 (pauseStreamToggled)="pauseQuery.emit($event)"
        ></app-tabbed-results-view>
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area *ngIf="state.valuePanelVisible()" size="25" minSize="25" maxSize="49" [order]="1">
    <app-typed-instance-panel-container
      [queryResultSelectedEvent$]="state.instanceSelected()"
      (close)="state.valuePanelVisible.set(false)"
    ></app-typed-instance-panel-container>
  </as-split-area>
  <as-split-area *ngIf="showCopilot" size="25" minSize="25" maxSize="49" [order]="2">
    <app-copilot-panel
      [chatQuery]="state.lastChatGptText()"
      [conversationMessages]="state.conversationMessages()"
      [currentState]="state.currentState()"
      (chatQueryChange)="chatGptQueryChanged.emit($event)"
      (submitTextToChatGpt)="submitTextToChatGpt.emit($event)"
      (deleteChatHistory)="deleteChatHistory.emit()"
      (runQuery)="runChatGptQuery($event)"
      (setQueryInEditor)="setQueryInEditor($event)"
      (close)="showCopilot = false"
    ></app-copilot-panel>
  </as-split-area>
</as-split>
