@import "src/common";

:host {
  display: flex;
  gap: 0.15rem;
  align-items: center;
  background: $gray-200;
  padding: 0.35rem 1rem 0.35rem 0.5rem;
  border-bottom: 1px solid $gray-300;
  border-top: 1px solid $gray-300;
}

button {
  flex-shrink: 0;
}

.running-timer {
  color: $success-dark;
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  &.has-separator:after {
    content: "";
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    border: 1px solid $gray-300;
  }

  .loader {
    width: 1rem;
    height: 1rem;
    border: 2px solid $success-dark;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 0.5rem;
  }

  img {
    width: 24px;
    margin-right: 0.5rem;
    animation-timing-function: ease-in-out;
    animation-name: loading-spinner;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    display: inline-block;
  }

  .record-count {
    color: $gray-500;
    margin-left: 0.25rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.published-endpoint-container {
  display: flex;
  flex: auto;
}

.published-endpoint {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;

  .endpoint-link,
  .endpoint-path {
    display: inline-flex;
    color: $sky-500;

    img {
      margin: 0 0.2rem;
    }
  }

  .mono-badge {
    margin-top: 0;
  }

  &:first-child:not(only-child) {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid $gray-300;
  }
}

.dropdown-link,
.button-link {
  display: flex;
  cursor: pointer;
  padding: 0.25rem 0.2rem 0.25rem 0.4rem;

  &.is-open,
  &:hover {
    border-radius: 0.25rem;
  }

  &:hover {
    background: $gray-100;
  }

  &.is-open,
  &:active {
    background: $white;
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-link {
  padding: 4px;
}

.dropdown-arrow {
  transition: transform 150ms ease-in-out;

  &_open {
    transform: rotate(180deg);
  }
}

.query-language-dropdown {
  min-width: 6rem;
}
