<as-split direction='horizontal' unit='percent'>
  <as-split-area>
    <as-split direction='vertical' unit='percent' class='query-panel-split'>
      <as-split-area [size]='50'>
        <div class="code-editor-panel-container">
          <app-panelset>
            <app-panel icon="assets/img/tabler/vocabulary.svg" title="Catalog">
              <app-catalog-explorer-panel
                (addToQueryClicked)="onAddToQueryClicked($event)"></app-catalog-explorer-panel>
            </app-panel>
            <app-panel icon="assets/img/tabler/history.svg" title="Query History">
              <app-query-history-panel
                (queryHistoryElementClicked)="queryHistoryElementClicked($event)"></app-query-history-panel>
            </app-panel>
            <app-panel icon="assets/img/tabler/device-floppy.svg" title="Saved queries">
              <app-saved-queries-panel
                (savedQueryClicked)="onSavedQuerySelected($event)"
              ></app-saved-queries-panel>
            </app-panel>

          </app-panelset>
          <div class='code-editor-section'>
            <app-panel-header title="Query editor">
              <app-query-editor-toolbar
                (executeQuery)='submitQuery()'
                [currentState$]='currentState$'
                [queryStarted]="queryStartTime"
                [(queryLanguage)]='queryLanguage'
                [runningQueryStatus]='queryMetadata$ | async'
                (cancelQuery)='cancelQuery()'
                (copyQuery)='copyQuery($event)'
                (saveClicked)="saveQuery()"
                (publishAsHttpEndpoint)="createHttpEndpoint()"
                [publishAsHttpEndpointEnabled]="savedQuery !== null"
              >
              </app-query-editor-toolbar>
            </app-panel-header>
            <tui-notification
              size="s"
              status="error"
              *ngIf='lastErrorMessage'
              class='error-notification'
            >
              <div class='error-message'>{{ lastErrorMessage }}</div>
            </tui-notification>
            <div class='code-viewer-container' *ngIf='queryLanguage === "TaxiQL"'>
              <app-code-editor
                class='code-editor'
                [actions]='customActions'
                [(content)]='query'
                (contentChange)="onQueryChanged($event)"
                #editor
              ></app-code-editor>
            </div>
            <tui-text-area class='flat query-input' [(ngModel)]='chatQuery' *ngIf='queryLanguage === "Text"'>Write a
              query
            </tui-text-area>
          </div>
        </div>
      </as-split-area>
      <as-split-area size='50' [title]="!queryStartTime ? 'Run a query first' : ''">
        <app-error-panel *ngIf='lastQueryResultAsSuccess?.unmatchedNodes?.length > 0'
                         [queryResult]='lastQueryResultAsSuccess'>
        </app-error-panel>
        <app-tabbed-results-view [instances$]='potentiallyPausedResults$'
                                 [profileData$]='queryProfileData$'
                                 [errorMessages$]="errors$"
                                 [errorCount]="errorCount"
                                 [type]='resultType'
                                 [anonymousTypes]='anonymousTypes'
                                 [isQueryRunning]='(currentState$ | async) === "Running" || (isProfileDataLoading$ | async)'
                                 [latestQueryStatus]="latestQueryStatus"
                                 [class.is-disabled]="!queryStartTime"
                                 (instanceSelected)='valuePanelVisible = true; instanceSelected$.next($event)'
                                 (downloadClicked)='downloadQueryHistory($event.format)'
                                 (loadProfileData)='loadProfileData()'
                                 (pauseStreamToggled)="toggleStreamPauseState($event)"
        ></app-tabbed-results-view>
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area *ngIf='valuePanelVisible' size='25'>
    <app-typed-instance-panel-container
      [queryResultSelectedEvent$]='instanceSelected$'
      (close)='valuePanelVisible = false'
    ></app-typed-instance-panel-container>
  </as-split-area>
</as-split>
