<mat-card class="card-container flat-card mat-elevation-z0" *ngIf="qualityReport?.numberOfEvents > 0">
  <div class="chart-container">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [legend]="false"
      [rotateXAxisTicks]="false"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [trimXAxisTicks]="true"
      [results]="scoresByDate"
    >
    </ngx-charts-line-chart>
  </div>
  <app-quality-score [score]="qualityReport.overallScore" [grade]="qualityReport.overallGrade"></app-quality-score>
  <div class="summary-list-container">
    <app-rule-score-table *ngIf="!ruleAttributePerformance"
                          [ruleSummaries]="qualityReport.ruleSummaries" (drillToRule)="drillToRule.emit($event)"></app-rule-score-table>
    <app-attribute-score-table *ngIf="ruleAttributePerformance" [ruleAttributePerformance]="ruleAttributePerformance"
      (back)="ruleAttributePerformance = null"
    ></app-attribute-score-table>

  </div>
</mat-card>
<mat-card class="empty-state flat-card mat-elevation-z0" *ngIf="qualityReport?.numberOfEvents == 0">
  <mat-card-content>
    <div class="empty-state-message">
      <img src="assets/img/gauge-empty.svg" class="filterIcon">
      <span>We don't have enough quality data to display anything meaningful here</span>
    </div>
  </mat-card-content>
</mat-card>
