<mat-toolbar color="primary" style="z-index: 999">
  <span>Query wizard</span>
</mat-toolbar>
<div class="page-content" style="z-index: 0">
  <div class="row">
    <div class="container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Facts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="fact-form-list">
            <div *ngFor="let factForm of forms" class="fact-form-container">
              <div class="delete-icon" (click)="removeFact(factForm)">
                <mat-icon>delete</mat-icon>
              </div>
              <div class="type-name">{{ factForm.type.name.name }}</div>
              <div class="fact-editor">
                <td-dynamic-forms [elements]="getAndRegisterElements(factForm,dynamicForm)"
                                  #dynamicForm></td-dynamic-forms>
              </div>
            </div>
          </div>
          <div class="new-fact-editor" *ngIf="addingNewFact">
            <app-type-autocomplete
              class="fact-type-input"
              [schema]="schema" (typeSelected)="onNewFactTypeSelected($event)"
              placeholder="Select the type of fact"></app-type-autocomplete>
          </div>
          <div class="add-new">
            <button mat-raised-button color="primary" (click)="addNewFact()">Add new fact</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="container target-type-container">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Target to find</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <app-type-autocomplete [schema]="schema" multiSelect="true"
                                   placeholder="Select the type to discover"
                                   (selectedTypesChange)="targetTypes = $event"
            ></app-type-autocomplete>
            <mat-form-field>
              <mat-select placeholder="Query mode" [formControl]="queryMode" required>
                <mat-option value="DISCOVER">Discover (Find a single result)</mat-option>
                <mat-option value="GATHER">Gather (Find all the possible results)</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="submitQuery()">Submit query</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <app-vyne-query-viewer [targetTypes]="targetTypeNames" [facts]="fakeFacts"
                           [schema]="schema"
                           [queryMode]="queryMode.value"
                           expanded="true"
                           class="mat-elevation-z2"
    ></app-vyne-query-viewer>

  </div>
  <div class="row">
    <div class="results-container" *ngIf="lastQueryResult">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <query-result-container [result]="lastQueryResult"></query-result-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

