<mat-toolbar color="primary" style="z-index: 1">
  <span>Query wizard</span>
</mat-toolbar>
<div class="page-content" style="z-index: 0">
  <div class="row">
    <div class="container fact-forms-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Facts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let factForm of forms">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ factForm.type.name.name }}
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Should we put something here? -->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div>
                <td-dynamic-forms [elements]="getAndRegisterElements(factForm,dynamicForm)"
                                  #dynamicForm></td-dynamic-forms>
              </div>
              <mat-action-row>
                <button mat-button (click)="removeFact(factForm)">Remove</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="container target-type-container">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Target to find</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field class="target-type-input">
              <input type="text" placeholder="Select the type to discover" aria-label="Number" matInput
                     [matAutocomplete]="auto"
                     [formControl]="targetTypeInput" required>
              <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                <mat-option *ngFor="let type of filteredTypes | async" [value]="type.name.fullyQualifiedName">
                  {{type.name.name}} ({{type.name.fullyQualifiedName}})
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Query mode" [formControl]="queryMode" required>
                <mat-option value="DISCOVER">Discover (Find a single result)</mat-option>
                <mat-option value="GATHER">Gather (Find all the possible results)</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="submitQuery()">Submit query</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="results-container" *ngIf="lastQueryResult">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <query-result-container [result]="lastQueryResult"></query-result-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

