<div class="file-list" *ngIf="displaySidebar">
  <div class="file-list-entry" *ngFor="let parsedSource of sources" (click)="select(parsedSource)">
    <img class="icon" src="assets/img/file.svg">
    <span class="file-name">{{ parsedSource.source?.name }}</span>
    <span class="error-count" *ngIf="parsedSource.errors.length > 0">{{ parsedSource.errors.length }}</span>
    <span class="version" *ngIf="parsedSource.source?.version">{{ parsedSource.source.version }}</span>
  </div>
</div>
<!--<mat-tab-group class="code-viewer" [(selectedIndex)]="selectedIndex">-->
<!--  <mat-tab *ngFor="let parsedSource of sources" [label]="parsedSource.source.name">-->
<!--    <ng-template matTabContent>-->
<!--      <div>-->
<!--        -->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->
<div class="code-viewer-container">
  <ngx-monaco-editor [options]="editorOptions"
                     class="code-editor"
                     [ngModel]="sourceContent"
                     #editor
  ></ngx-monaco-editor>
  <app-error-list *ngIf="selectedSourceErrors.length > 0" [errors]="selectedSourceErrors"></app-error-list>
</div>
