<td-layout-nav logo="assets:share">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Vyneyard</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="50">
      <md-card>
        <md-card-title>Schema</md-card-title>
        <md-divider></md-divider>
        <td-code-editor style="height: 200px" theme="vs" flex language="sql"
                        [editorOptions]="{fontFamily:'Roboto Mono', formatOnType: true, folding: true, autoIndent: true}"
                        [(ngModel)]="taxiDef"
                        (change)="onTaxiDefChanged()"
        ></td-code-editor>
        <md-expansion-panel>
          <md-expansion-panel-header>
            <md-panel-title>
              Errors ({{errors.length}})
            </md-panel-title>
          </md-expansion-panel-header>

          <table td-data-table>
            <thead>
            <tr td-data-table-column-row>
              <th td-data-table-column>
                <span>Line</span>
              </th>
              <th td-data-table-column>
                <span>Col</span>
              </th>
              <th td-data-table-column flex>
                <span>Message</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr td-data-table-row *ngFor="let error of errors">
              <td td-data-table-cell>{{ error.line }}</td>
              <td td-data-table-cell>{{ error.col }}</td>
              <td td-data-table-cell>{{ error.message }}</td>
            </tr>
            </tbody>
          </table>

        </md-expansion-panel>
      </md-card>
    </div>
    <div flex-gt-sm="50">
      <md-card>
        <md-card-title>Graph</md-card-title>
        <md-divider></md-divider>
        <ngx-charts-directed-graph
          class="chart-container"
          [view]="view"
          [links]="graphData.links"
          [nodes]="graphData.nodes"
          [orientation]="orientation"
          [scheme]="colorScheme"
          [curve]="curve"
          [legend]="showLegend"
          (select)="select($event)">

          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                        orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
            </svg:marker>
          </ng-template>

          <ng-template #nodeTemplate let-node>
            <svg:g class="node"
                   ngx-tooltip
                   [tooltipPlacement]="'top'"
                   [tooltipType]="'tooltip'"
                   [tooltipTitle]="node.label">
              <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" rx="5"
                        ry="5"/>
              <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
            </svg:g>
          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path
                class="line"
                stroke-width="2"
                marker-end="url(#arrow)">
              </svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%">
                  {{link.label}}
                </textPath>
              </svg:text>
            </svg:g>
          </ng-template>

        </ngx-charts-directed-graph>
      </md-card>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Vyne Studio v123</span>
      <!--<span flex></span>-->
      <!--<md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>-->
    </div>
  </td-layout-footer>
</td-layout-nav>
