<div *ngIf="parsedPackage" class="header-bar">
  <div class="titles">
    <h2>{{parsedPackage.metadata.identifier.name}}</h2>
    <app-simple-badge-list [badges]="badges"></app-simple-badge-list>
  </div>
</div>
<div class="tab-bar">
  <tui-tabs [(activeItemIndex)]="activeTabIndex">
    <button *ngFor="let tab of tabs; let i = index"
            tuiTab
            (click)="activeTabIndex = i"
    >
      <img [src]="tab.icon">
      {{tab.label}}
    </button>
  </tui-tabs>
</div>
<app-schema-explorer-table *ngIf="activeTabIndex == 0" [partialSchema$]="partialSchema$" [editable]="false"
                           [schema]="schema"
                           [allowTryItOut]="true"></app-schema-explorer-table>
<app-changelog-list *ngIf="activeTabIndex == 1" [changeLogEntries]="changelogEntries | async"></app-changelog-list>
<app-code-viewer [sources]="parsedPackage?.sources" sidebarMode="Visible"
                 *ngIf="activeTabIndex == 2 && parsedPackage?.sources?.length>0"></app-code-viewer>

