@import "src/theme";

.container {
  flex-grow: 1;
  display: flex;
  margin-left: 1rem;
}

app-package-list {
  margin-right: 2rem;
}

:host(.orbital) {
  margin-left: 1rem;
  padding-top: 1rem;
  overflow: auto;
  width: 100%;
}

app-changelog-list {
  margin-top: 1rem;
  display: block;
}
