@import "src/theme";
@import "src/toolbar";

:host {
  background-color: $body-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem 2rem;
}

.header-bar {
  margin-bottom: 2rem;
  display: flex;
}

app-code-viewer {
  width: 100%;
  // Use a fixed height, seems to make flex-grow work
  height: 10px;
  flex-grow: 1;
  border: 1px solid rgba($vyne-lilac, 0.4);
  border-radius: 4px;
}


