<app-header-bar title="Schema Explorer">
  <div class="add-new" *ngIf="config?.server.newSchemaSubmissionEnabled">
    <button mat-stroked-button [routerLink]="['./import']">Add new</button>
    <!--<mat-icon svgIcon="add_box"></mat-icon>-->
    <!--Add a new one-->
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="importSchemaFromUrl()">Add schema from url</button>
      <!--<button mat-menu-item (click)="createNewSchema()">Add schema directly</button>-->
    </mat-menu>
  </div>
</app-header-bar>
<app-code-viewer [sources]="schemas | async" sidebarMode="Visible"
                 *ngIf="(schemas | async)?.length>0"></app-code-viewer>
<div *ngIf="(schemas | async)?.length==0" class="empty-state">
  <img src="assets/img/getting-started.svg">
  <div>There's nothing registered yet. Schemas will appear here as services register, or you can add
    a new schema manually from the toolbar above.
  </div>
</div>
