@import "fonts";

$headings-font: 'DM Sans', sans-serif;
$body-font: 'nunito-sans', sans-serif;
$mono: 'jetbrains-mono', monospace;

$base-rem-size: 16px;

$body-color: black;

html {
  // This sets 1rem = 16px
  font-size: $base-rem-size;
  font-family: $body-font;
  line-height: 1.3;
  color: $body-color;
}

h1, .h1 {
  font-family: $headings-font;
  font-size: 4rem;
  line-height: 1.3;
}
h2, .h2 {
  font-family: $headings-font;
  font-size: 3rem;
  line-height: 1.3;
}
h3, .h3 {
  font-family: $headings-font;
  font-size: 2rem;
  line-height: 1.3;
}
h4, .h4 {
  font-family: $headings-font;
  font-size: 1.5rem;
  line-height: 1.3;
}
h5, .h5 {
  font-family: $headings-font;
  font-size: 1.25rem;
  line-height: 1.3;
}
h6, .h6 {
  font-family: $headings-font;
  font-size: 1.125rem;
  line-height: 1.3;
}

.subtitle {
  font-family: $headings-font;
  font-weight: bold;
  line-height: 1.3;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.small {
  font-size: 0.875rem;
}

.smaller {
  font-size: 0.75rem
}

.caption {
  font-family: $headings-font;
  font-weight: bold;
  line-height: 1.7;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.caption-small {
  font-family: $headings-font;
  font-weight: bold;
  line-height: 1.3;
  font-size: 0.75rem;
  text-transform: uppercase;
}
