@import "src/theme";

.row {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;

  img {
    margin-right: 0.5rem;
  }
}



.search-result {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: $slate-700;
  cursor: pointer;

  &:hover {
    background-color: $slate-100;
  }
}

.no-docs {
  font-size: 0.8rem;
  color: $slate-400;
}
