@import "src/common";
@import "src/forms";

:host {
  @extend .form-container;
}

app-project-selector {
  margin-bottom: 1rem;
}

.data-source-options-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;

  img {
    height: 24px;
    margin-right: 0.5rem;
  }

  button {
    ::ng-deep.t-right {
      margin-left: 1rem;
      margin-top: -6px;
      width: 20px;
    }
  }
}

.island {
  margin-top: 1rem;

  .config-container {
    margin-top: 1rem;
  }
}

.config-container {
  margin-top: 2rem;
}
