@import "src/common";
@import "src/forms";

:host {
  @extend .form-container;
}

app-project-selector {
  margin-bottom: 1rem;
}

.data-source-options-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.island {
  margin-top: 1rem;

  .config-container {
    margin-top: 1rem;
  }
}

.config-container {
  margin-top: 2rem;
}
