<ng-container *ngIf="step !== 'dataSourceCreated'; else hasCreatedTemplate">
  <h3 class="intro-text">Data sources are the database tables, APIs and Kafka topics that fuel Orbital.</h3>
  <p>Add one to bring its data into Orbital's catalog for querying.</p>
</ng-container>
<ng-template #hasCreatedTemplate>
  <div class="data-source-created">
    <h3 class="intro-text">Great! Now that you've created a data source, continue on to explore some more {{ uiConfig.productName }} tooling</h3>
    <p class="next-step">
      (or feel free to create another data source)
      <button tuiButton size="m" class="next-step" [routerLink]="['/onboarding/explore']">Next step</button>
    </p>
  </div>
</ng-template>

<app-data-source-import
  title=""
  dataSourceDisplayType="buttons"
  useIslandContainer="true"
  codeViewerFlexBoxMode="grid"
  (dataSourceAdded)="step = 'dataSourceCreated'"
></app-data-source-import>


