<div class="container">
  <div class="operation-list">
    <div class="header">
      <div class="table-header">Calls</div>
      <div class="table-subheader">(Click to explore)</div>
    </div>
    <div class="operation" *ngFor="let operation of queryResult?.remoteCalls" (click)="selectOperation(operation)">
      <div class="verb">{{ operation.method }}</div>
      <div class="address">{{ getPathOnly(operation.addresss) }}</div>
    </div>
  </div>
  <app-sequence-diagram [result]="queryResult" *ngIf="!selectedOperation"></app-sequence-diagram>
  <app-operation-view [operation]="selectedOperation" *ngIf="selectedOperation"></app-operation-view>
</div>
