@import "src/theme";
@import "src/tables";
@import "./status-colors";

.connection-list {
  @include orbital-table();
  @include orbital-table-with-selectable-rows();
}

.connection-list-container {
  width: 100%;
}

.errors-panel {
  margin: 1rem 0;
  background-color: $warning-light;
  padding: 1rem;
  border-radius: 6px;
}
