<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<header class="header-wrapper header-xl overlay app_primary_bg">
			<!-- <h1 class="text-white">Page Title</h1> -->
		</header>
		<div class="content-body container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Toolbar</h2>
							<ul class="actions icons top-right">
								<li class="dropdown" ngbDropdown>
										<a href="javascript:void(0)" ngbDropdownToggle>
											<i class="zmdi zmdi-more-vert"></i>
										</a>
										<ul class="dropdown-menu btn-primary dropdown-menu-right">
											<li>
												<a href="javascript:void(0)">Option One</a>
											</li>
											<li>
												<a href="javascript:void(0)">Option Two</a>
											</li>
											<li>
												<a href="javascript:void(0)">Option Three</a>
											</li>
										</ul>
									</li>
							</ul>
						</header>
						<div class="card-block p-0 ">
							<div class="list-group">
								<div class="list-group-item" md-ripple>
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
									</div>
								</div>
								<div class="list-group-item" md-ripple>
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
									</div>
								</div>
								<div class="list-group-item" md-ripple>
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
									</div>
								</div>
								<div class="list-group-item" md-ripple>
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card">
						<md-tab-group class="sidebar-right-tab-group" md-stretch-tabs>
							<md-tab label="Tab One">
								<div class="card-block p-t-30">
									<h3 class="p-t-15 p-b-15">Content Title One</h3>
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>
									<p>
										Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente food truck fanny pack farm-to-table. Culpa keytar esse tilde hoodie,
										art party nostrud messenger bag authentic helvetica kinfolk cred eu affogato forage. Biodiesel vero proident scenester, normcore mustache umami sint. Echo park adipisicing portland, ethical et hammock exercitation etsy labore health goth enim
										velit green juice jean shorts esse. Lo-fi pinterest accusamus cardigan lumberset tempor in pitchfork, four loko narwhal.
									</p>
								<h3 class="p-t-15 p-b-15">Paleo flexitarian bushwick letterpress</h3>
									<img src="http://placehold.it/450x350" class="float-right m-l-30 m-b-30" alt="" />
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>
								</div>
							</md-tab>
							<md-tab label="Tab Two">
								<div class="card-block p-t-30">
									<h3 class="p-t-15 p-b-15">Content Title Two</h3>
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>
									<p>
										Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente food truck fanny pack farm-to-table. Culpa keytar esse tilde hoodie,
										art party nostrud messenger bag authentic helvetica kinfolk cred eu affogato forage. Biodiesel vero proident scenester, normcore mustache umami sint. Echo park adipisicing portland, ethical et hammock exercitation etsy labore health goth enim
										velit green juice jean shorts esse. Lo-fi pinterest accusamus cardigan lumberset tempor in pitchfork, four loko narwhal.
									</p>
								<h3 class="p-t-15 p-b-15">Paleo flexitarian bushwick letterpress</h3>
									<img src="http://placehold.it/450x350" class="float-right m-l-30 m-b-30" alt="" />
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>

								</div>
							</md-tab>
							<md-tab label="Tab Three">
								<div class="card-block p-t-30">
									<h3 class="p-t-15 p-b-15">Content Title Three</h3>
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>
									<p>
										Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente food truck fanny pack farm-to-table. Culpa keytar esse tilde hoodie,
										art party nostrud messenger bag authentic helvetica kinfolk cred eu affogato forage. Biodiesel vero proident scenester, normcore mustache umami sint. Echo park adipisicing portland, ethical et hammock exercitation etsy labore health goth enim
										velit green juice jean shorts esse. Lo-fi pinterest accusamus cardigan lumberset tempor in pitchfork, four loko narwhal.
									</p>
								<h3 class="p-t-15 p-b-15">Paleo flexitarian bushwick letterpress</h3>
									<img src="http://placehold.it/450x350" class="float-right m-l-30 m-b-30" alt="" />
									<p>Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui. Enim lo-fi everyday carry, normcore anim ugh PBR&amp;B sartorial sunt fashion axe delectus. Assumenda vegan celiac taxidermy incididunt.
										Flannel shabby chic before they sold out tilde, helvetica echo park pop-up gluten-free consequat 3 wolf moon sriracha knausgaard. Celiac culpa bicycle rights, bespoke street art wolf fanny pack et irony cillum in. Thundercats vinyl green juice
										celiac whatever excepteur proident locavore elit, dolor ea viral twee four loko disrupt.
									</p>
									<p>
										Fashion axe kitsch marfa, art party gluten-free beard meditation lumberset pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate man bun, craft
										beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats. Photo booth ad flannel, tempor locavore adipisicing distillery forage venmo sed chillwave chia whatever
										bitters. Helvetica listicle hella deep v ugh. Kickstarter pop-up plaid, selfies street art health goth tempor celiac occupy knausgaard.
									</p>
									<p>
										Celiac tilde commodo four dollar toast. Scenester kale chips roof party PBR&amp;B, organic everyday carry cornhole tumblr kickstarter marfa salvia photo booth voluptate gastropub ennui. Austin craft beer next level whatever beard. Leggings tote bag taxidermy
										occupy, heirloom deep v exercitation ea normcore irure banh mi hella fashion axe et. Mumblecore intelligentsia mustache, id photo booth tofu est. In kale chips voluptate literally, gastropub YOLO consequat fugiat swag gochujang sint est ugh
										90's. Sriracha bitters meh fanny pack try-hard readymade, stumptown street art blue bottle.
									</p>
								</div>
							</md-tab>
						</md-tab-group>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
