@import "src/theme";
@import "src/typography";

.changelog-entry {
  //display: flex;
}

.changelog-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  .h3 {
    margin-right: 2rem;
  }
  .h4 {
    margin-bottom: 0;
  }

}

.h3.affected-package {
  margin-bottom: 1rem;
}

app-diff-entry {

}

