<div #chartOuterContianer class="chart-outer-container">
   <div class="chart-col">
      <ngx-graph class="chart-container" [legend]="showLegend" [links]="typeLinks.links"
      (legendLabelClick)="onLegendLabelClick($event)"
         [nodes]="typeLinks.nodes" [view]="chartDimensions" [autoZoom]="autoZoom" [scheme]="colorScheme" [orientation]="orientation"
         [curve]="curve" (select)="select($event)">

         <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
               <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
         </ng-template>

         <ng-template #nodeTemplate let-node>
            <svg:g class="node">
               <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
               <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
            </svg:g>
         </ng-template>

         <ng-template #linkTemplate let-link>
            <svg:g class="edge">
               <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
               </svg:path>
               <svg:text class="edge-label" text-anchor="middle">
                  <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                     {{link.label}}
                  </textPath>
               </svg:text>
            </svg:g>
         </ng-template>

      </ngx-graph>
   </div>
</div>
