@import "typography";

.form-container {
  // MP 6-Dec Why did we have this?  It looks silly on a laptop
  // screen - max-width, in a flex with margin:auto
  // seems to work better.
  //width: 50vw;
  max-width: 1200px;

}


.form-row {
  display: flex;
  h3 {
    margin: 0;
    font-size: 1rem;
  }
  .form-item-description-container {
    margin-bottom: 1rem;
    p:first-child {
      margin-top: 0;
    }
    li {
      line-height: 2;
    }
  }



  .help-text {
    width: 24rem;
  }

  mat-form-field, app-type-autocomplete, app-schema-member-autocomplete, .form-element {
    flex-grow: 1;
  }

}

app-description-editor {
  display: block;
  width: 100%;
  max-height: 10rem;
  overflow: auto;
}

.form-buttons {
  margin: 1rem 0;
  display: flex;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}
