@import "typography";

.form-container {
  width: 50vw;
  max-width: 1200px;
}


.form-row {
  display: flex;
  h3 {
    margin: 0;
    font-size: 1rem;
  }
  .form-item-description-container {
    margin-bottom: 1rem;
    p:first-child {
      margin-top: 0;
    }
  }

  .help-text {
    width: 24rem;
  }

  mat-form-field, app-type-autocomplete, app-schema-member-autocomplete, .form-element {
    flex-grow: 1;
  }

}

app-description-editor {
  display: block;
  width: 100%;
  max-height: 10rem;
  overflow: auto;
}

.form-buttons {
  margin: 1rem 0;
  display: flex;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}
