@import "src/orbital-app/variables";
@import "src/orbital-app/typography";
@import "src/orbital-app/orbital";

.panel-toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-light;
  padding: 1rem;
}
