@import "typography";

button.button-small {

  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }
  font-family: $headings-font;
  font-size: 0.8rem;
  font-weight: 700;

  img {
    width: 1rem;
    margin-right: 0.8rem;
  }
}
