@import "fonts";
@import "theme-colors";

$body-font: 'nunito-sans';
$mono: 'jetbrains-mono', monospace;
// Fonts used in documentation heavy pages
$font-sans-docs: $body-font /*'Open Sans'*/,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
// Fonts used throughout the app
$font-sans: $body-font, $font-sans-docs;
$font-sans-alt: $body-font, /*Hind,*/ system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
.mono {
  font-family: $mono;
}

.mono-badge {
  font-family: $mono;
  // Adding important here, as font sizes are getting
  // overridden by search in the toolbar.
  font-size: 0.85rem !important;
  font-weight: 300;
  color: $vyne-lilac;
  border: 1px solid rgba($vyne-lilac,0.6);
  background-color: rgba($vyne-lilac, 0.1);
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  display: inline-block;
  margin-top: 0.25rem;
}

.font-sans-alt {
  font-family:$font-sans-alt;
}
