:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--component-bg-color);
  height: 100%;
}

.page-title {
  text-align: center;
}

.help-link {
  position: absolute;
  top: 57px;
  right: 4rem;
}

.page-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-grow: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
  align-items: center;
  text-align: center;
}

.stepper {
  margin-bottom: 1rem;
}
