<div class="page-container">
  <header>
    <h2>Welcome to {{ uiConfig.productName }}</h2>
    <a
      iconEnd="@tui.circle-help"
      tuiLink
      class="help-link"
      [href]="UiCustomisations.docsLinks.docsHome"
      target="_blank"
    >
      Help
    </a>
    <tui-stepper class="stepper" [activeItemIndex]="currentStepIndex$ | async">
      <button
        tuiStep
        [stepState]="(currentStepIndex$ | async) === 0 ? 'normal' : 'pass'"
        [disabled]="(currentStepIndex$ | async) > 0"
      >
        Add project
      </button>
      <button
        tuiStep
        [stepState]="(currentStepIndex$ | async) <= 1 ? 'normal' : 'pass'"
        [disabled]="(currentStepIndex$ | async) !== 1"
      >
        Select data source
      </button>
      <button
        tuiStep
        [stepState]="(currentStepIndex$ | async) <= 2 ? 'normal' : 'pass'"
        [disabled]="(currentStepIndex$ | async) !== 2"
      >
        Configure
      </button>
      <button
        tuiStep
        [disabled]="(currentStepIndex$ | async) !== 3"
      >
        Explore
      </button>
    </tui-stepper>
    <tui-notification size="m" appearance="info" *ngIf="isRedirectedFromDashboard()"><div>
      If you're happy exploring  {{ uiConfig.productName }} on your own, then you may elect to
      <a class="link" routerLink="/" (click)="hideOnboarding()">go to the dashboard</a> and we'll remember your decision
    </div></tui-notification>
  </header>
  <div class="content" [class.full-width]="(currentStepIndex$ | async) === 2">
    <router-outlet></router-outlet>
  </div>
</div>
