<div class='page-container'>
  <header>
    <h2 class="page-title">Welcome to {{ uiConfig.productName }}</h2>
    <a
      icon="tuiIconHelpCircle"
      tuiLink
      class="help-link"
      href="https://orbitalhq.com/docs"
      target="_blank"
    >
      Help
    </a>
  </header>
  <div class="page-content">
    <tui-stepper class="stepper" orientation="vertical">
      <button
        routerLink="/onboarding/project"
        routerLinkActive
        tuiStep
        [stepState]="(currentStepIndex$ | async) === 0 ? 'normal' : 'pass'"
        [disabled]="(currentStepIndex$ | async) > 0"
      >
        Add Project
      </button>
      <button
        routerLink="/onboarding/data-source"
        routerLinkActive
        tuiStep
        [stepState]="(currentStepIndex$ | async) <= 1 ? 'normal' : 'pass'"
        [disabled]="(currentStepIndex$ | async) > 1"
      >
        Create Data source
      </button>
      <button
        routerLink="/onboarding/explore"
        routerLinkActive
        tuiStep
      >
        Explore tooling
      </button>
    </tui-stepper>
    <router-outlet></router-outlet>
  </div>
</div>
