:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--component-bg-color);
  height: 100%;
  padding: 2rem 2rem 0 2rem;
}

.page-title {
  text-align: center;
}

.help-link {
  position: absolute;
  top: 57px;
  right: 2rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media screen and (min-width: 80em) {
    max-width: 980px;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-items: center;
}

.stepper {
  margin-bottom: 1rem;
}
