<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
 {{data.message}}
  <mat-list>
    <mat-list-item *ngFor="let message of (data.messages || [])">
      <mat-icon mat-list-icon>panorama_fish_eye</mat-icon>
      {{message}}
    </mat-list-item>
  </mat-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Confirm</button>
</mat-dialog-actions>
