<div class="page-content">
  <h2>{{caskDisplayName}}</h2>

  <div class="results-details">
    <app-key-value title="Type" [value]="caskConfig.qualifiedTypeName"></app-key-value>
    <app-key-value title="Created at" [value]="caskConfig.insertedAt | date: 'medium'"></app-key-value>
    <app-key-value title="Number of records" [value]="caskConfig.details.recordsNumber"></app-key-value>
    <app-key-value title="Number of errors" [value]="caskConfig.details.ingestionErrorsInLast24Hours"></app-key-value>
    <div class="spacer"></div>
    <button (click)="deleteCask.emit(caskConfig)" mat-icon-button matTooltip="Delete this cask">
      <i class="material-icons">delete</i>
    </button>
  </div>

  <app-quality-card *ngIf="qualityReport" [qualityReport]="qualityReport"></app-quality-card>
  <app-cask-ingestion-errors [caskConfigRecord]="caskConfig"></app-cask-ingestion-errors>
</div>


