@import "src/theme";

.title-bar {
    background-color: $light-purple-grey;
    display: flex;
    h4 {
      padding: 0;
      margin: 0;
      flex-grow: 1;
    }
    button {
      width: unset !important;
      height: unset !important;
      line-height: unset !important;
      margin-right: 10px
    }
    padding: 10px;
} 

.results-container {
  .results-details {
    display: flex;
    flex-direction: row;
    .detail {
      flex-grow: 1;
      margin: 10px
    }
  }
}