<app-header-bar title="Cask viewer">
</app-header-bar>

<div class="container">

  <div class="list-container">
    <div class="title-bar">
      <h4>Casks</h4>
      <button (click)="loadCaskRecords()" mat-icon-button>
        <i class="material-icons">refresh</i>
      </button>
    </div>
    <div class="cask-list">
      <div *ngFor="let configsPerType of caskConfigs | keyvalue" >
        <app-cask-row [typeName]="configsPerType.key" [caskConfigs]="configsPerType.value" (onCaskConfigClick)="showCaskDetails($event)"></app-cask-row>
      </div>
    </div>

  </div>

  <div class="results-section">
    <app-cask-details  *ngIf="caskConfig && caskConfig.details"
                       [caskConfig]="caskConfig"
                       (deleteCask)="promptDeleteCask()"></app-cask-details>
  </div>

</div>
