@import "src/theme";

:host {
  font-family: $font-sans-docs;
}

h2 {
  margin-top: 0;
}
.results-details {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 2rem;
}

.spacer {
  flex-grow: 1;
}

app-quality-card {
  display: block;
  margin-bottom: 3rem;
}
