@import "src/common";
@import "src/as-split";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep {
    button.t-header {
      // Set the background in accordion headers
      background-color: $slate-100 !important;
    }

    tui-expand {

      // Components like the results panel where we need the panel to grow
      // to 100% of available space
      &.flex-expand {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .t-wrapper {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
      }
      transform: unset !important;
      .t-content {
        //padding: 0 !important;
      }
    }

    tui-accordion-item {
      height: 100%;
      .t-wrapper {
        button {
          background-color: $slate-100;
        }
      }
    }
  }
}

app-code-editor {
  height: 100%;
  flex-grow: 1;
}

.result-panel {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  app-json-viewer {
    flex-grow: 1;
    height: 100%;
  }

  .empty-results {
    height: 100%;
    flex-grow: 1;
    // For consistency, set to the colour of the editor background
    background-color: $vscode-theme-code-background;
  }
}

@include thin-splitter();

.flex-split-area {
  display: flex;
  flex-direction: column;
}
.stubs-params-header {
  span {
    margin-right: 1rem;
  }
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
  flex-direction: row-reverse; // right align the content
}

app-query-lineage {
  display: block;
}

.empty-results {
  background-color: $slate-200;
  padding: 1rem;
}

tui-accordion {
  height: 100%;
}

.fullscreen {
  position: fixed;
  top: 1rem;
  left: calc(1rem + $sidenav-width);
  width: calc(100% - $sidenav-width - 2rem);
  height: calc(100% - 2rem);
  z-index: 2000;
}

tui-chip[tuiAppearance][data-appearance='info']  {
  background: $sky-500;
  color: $slate-50;
  font-family: $headings-font;
  font-size: 0.9rem;
  font-weight: 500;
}

.bottom-split-area {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
