@import "src/theme";

.tab-icon {
  margin-right: 0.6rem;
  width: 1.2rem;
  opacity: 0.5;
}

.spacer {
  flex-grow: 1;
}
tui-tabs {
  button {
    font-family: $headings-font;
    font-size: 0.9rem ;
  }
}
.results-container {
  height: 100%;
  // padding+box-sizing seemed to fix errant vertical scrollbars
  //padding: 1rem 0;
  box-sizing: border-box;
}
.results-object-view-list-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.empty-results {
  color: lighten($body, 10%);
  display: flex;
  width: 100%;
  margin: 2rem 1rem;
  align-items: center;
  background-color: $light-purple-grey-100;

  img {
    width: 48px;
    opacity: 0.5;
    margin-right: 2rem;
  }
}
