<app-header-bar title="Query wizard">
</app-header-bar>
<mat-sidenav-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end" [(opened)]="showSidePanel && this.shouldTypedInstancePanelBeVisible">
    <div class="drawer-content">
      <app-typed-instance-panel-container
        [instance]="selectedTypeInstance"
        (hasTypedInstanceDrawerClosed)="onCloseTypedInstanceDrawer($event)"
        [type]="selectedTypeInstanceType"
        [dataSource]="selectedTypeInstanceDataSource"
      ></app-typed-instance-panel-container>
    </div>
  </mat-drawer>

  <div class="full-width-page-content" style="z-index: 0">
    <div class="container">

      <mat-tab-group mat-align-tabs="start" style="height: 100%" [(selectedIndex)]="selectedIndex">
        <mat-tab label="Query Builder">
          <ng-template matTabContent>
            <div class="query-wizard-container">
              <query-wizard (queryResultUpdated)="resultUpdated($event)"
                            (loadingChanged)="onLoadingChanged($event)"
              ></query-wizard>
                <div class="results-container">
                  <mat-spinner *ngIf="loading" [diameter]=40></mat-spinner>

                  <app-tabbed-results-view (instanceSelected)="onInstanceSelected($event)"
                                           *ngIf="lastQueryResult"
                                           [result]="lastQueryResult"
                  ></app-tabbed-results-view>
                  <!--                  <mat-card *ngIf="lastQueryResult" style="width: 100%">-->
                  <!--                    <mat-card-header>-->
                  <!--                      <mat-card-title>Results</mat-card-title>-->
                  <!--                    </mat-card-header>-->
                  <!--                    <mat-card-content>-->
                  <!--                      <query-result-container [result]="lastQueryResult"-->
                  <!--                                              (instanceSelected)="onInstanceSelected($event)"></query-result-container>-->
                  <!--                    </mat-card-content>-->
                  <!--                  </mat-card>-->
                </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Query Editor">
          <ng-template matTabContent>
              <query-editor
                [initialQuery]="routeQuery"
                (queryResultUpdated)="resultUpdated($event)"
                (loadingChanged)="onLoadingChanged($event)"
                (instanceSelected)="onInstanceSelected($event)"
              ></query-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-sidenav-container>
