@import "src/theme";
@import "src/toolbar";

.container {
  flex: 1;
  height: 200vh;
  overflow: hidden;

  &:not(:last-child) {
    padding-right: 45px;
  }

}

.query-editor-container{
  overflow: hidden;
  height: 100%
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
}

