@import "src/theme";
@import "src/toolbar";

:host {
  height: 100%;
  display: block;
}

mat-sidenav-container {
  // This has been a real pain.
  // Sizing this to 100% causes vertical scrollbars to appear,
  // and seems to size without considering the toolbar (ie., it
  // appears we get a height that is toolbarHeight too high.
  //Usng this approach seems to work.
  height: calc(100vh - #{$toolbar-height})
}
.container {
  height: 100%;
}

.results-container {
  margin-top: 1rem;
}

.query-wizard-container {
  margin: 1rem;
}

:host ::ng-deep .mat-tab-body-wrapper {
  //flex-grow: 1;
}

.drawer-content {
  margin: 2rem 3rem;
  width: 40vw;
}
