@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
  border: 1px solid $light-purple-grey-300;
  height: 100%;
}
.sequence-diagram-container {
  display: flex;
}
.toolbar {
  margin: 1rem;
  display: flex;
  align-items: center;
  .type-name {
    font-size: 1rem;
    margin-right: 2rem;
  }
  .spacer {
    flex-grow: 1;
  }
}

img.icon {
  width: 24px;
}

app-call-explorer-operation-view {
  flex-grow: 1;
}

app-service-stats {
  padding: 1rem;
}

.operation-list {
  flex-grow: 1;
  //padding: 20px 0;
  //background-color: rgba(black,0.1);
  overflow: hidden;
  width: 500px;
  min-width: 250px;

  .header {
    padding: 10px 20px;
    border-bottom: 1px solid $light-purple-grey-300;
    //background-color: rgba(255,255,255, 0.05);
    color: $dark-grey-2;

    .table-header {
      font-size: 18px;
    }

    .table-subheader {
      font-size: 14px;
    }
  }
}

.badges {
   .separator-slash {
     margin: 0 0.5rem;
   }
 }


.operation {
  color: $body;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba($dark-grey-2, 0.1);
  }

  display: flex;
  overflow: hidden;
  align-items: flex-start;
}

.verb {
  font-family: $mono;
  margin-right: 18px;
  padding: 3px 6px;
  background-color: rgba($vyne-lilac, 0.15);
  border-radius: 4px;
  color: $color2;
}

.address {
  font-family: $mono;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-operation-view {
  flex-grow: 10;
}

.chart-container {
  width: 100%;
}
