@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
  border: 1px solid $light-purple-grey-300;
  height: 100%;
  overflow: auto;
}
.sequence-diagram-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
}
app-sequence-diagram {
  display: block;
  height: 100%;
  overflow: scroll;
}

.toolbar {
  margin: 1rem;
}

img.icon {
  width: 24px;
}

app-call-explorer-operation-view {
  flex-grow: 1;
}

app-service-stats {
  padding: 1rem;
}

.operation-list-container {
  //padding: 20px 0;
  //background-color: rgba(black,0.1);
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 500px;

  .header {
    padding: 10px 20px;
    border-bottom: 1px solid $light-purple-grey-300;
    //background-color: rgba(255,255,255, 0.05);
    color: $dark-grey-2;

    .table-header {
      font-size: 18px;
    }

    .table-subheader {
      font-size: 14px;
    }
  }

  .operation-list {
    height: 100%;
    overflow-y: scroll;
  }
}

.badges {
   .separator-slash {
     margin: 0 0.5rem;
   }
 }


.operation {
  color: $body;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba($dark-grey-2, 0.1);
  }

  display: flex;
  align-items: center;
  overflow: hidden;
  align-items: flex-start;
}

.verb {
  background-color: rgba($vyne-lilac, 0.15);
  color: $color2;
}

.pill {
  font-family: $mono;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-right: 1rem;
  display: inline-block;
}

.duration {
  background-color: rgba($vyne-lilac, 0.15);
}

.status-success {
  background-color: rgba($vyne-green, 0.5)
}

.status-error {
  background-color: $bg-error;
  color: $whiteish;
}

.address {
  font-family: $mono;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-operation-view {
  flex-grow: 10;
}

.chart-container {
  height: 100%;
  // It seems we need a small width set here to allow flex-grow to
  // resize correctly.  If this is set too high, flex-grow doesn't size to the rest of the space.
  // 100% doesn't work either.
  width: 10px;
  flex-grow: 1;
}
