@import "src/theme";

.container {
  display: flex;
  background-color: $light-purple-grey;
  border: 1px solid $light-purple-grey-300;
}

.operation-list {
  flex-grow: 1;
  //padding: 20px 0;
  //background-color: rgba(black,0.1);
  overflow: hidden;
  width: 500px;
  min-width: 250px;

  .header {
    padding: 10px 20px;
    border-bottom: 1px solid $light-purple-grey-300;
    //background-color: rgba(255,255,255, 0.05);
    color: $dark-grey-2;
    .table-header {
      font-size: 18px;
    }
    .table-subheader {
      font-size: 14px;
    }


  }
}

.operation {
  color: $body;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba($dark-grey-2,0.1);
  }
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}

.verb {
  font-family: $mono;
  margin-right: 18px;
  padding: 3px 6px;
  background-color: rgba($vyne-lilac,0.15);
  border-radius: 4px;
  color: $color2;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
app-operation-view {
  flex-grow: 10;
}

.chart-container {
  width: 100%;
}
