<div class="container">
  <div class="operation-list">
    <div class="header">
      <div class="table-header">Calls</div>
      <div class="table-subheader">(Click to explore)</div>
    </div>
    <div class="operation" *ngFor="let operation of queryResult?.remoteCalls" (click)="selectOperation(operation)">
      <div class="verb">{{ operation.method }}</div>
      <div class="address" [matTooltip]="getPathOnly(operation.addresss)">{{ getPathOnly(operation.addresss) }}</div>
    </div>
  </div>
  <div class="chart-container" *ngIf="!selectedOperation">
    <mat-button-toggle-group [(value)]="selectedChart">
      <mat-button-toggle value="graph">
        <mat-icon>timeline</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="sequence">
        <mat-icon>compare_arrows</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-stroked-button class="download-remote-call-button" (click)="downloadRemoteCalls($event)">Download</button>
    <app-service-graph [result]="queryResult" *ngIf="selectedChart == 'graph'"></app-service-graph>
    <app-sequence-diagram [result]="queryResult" *ngIf="selectedChart == 'sequence'"></app-sequence-diagram>
  </div>
  <app-operation-view [operation]="selectedOperation" *ngIf="selectedOperation" (close)="selectedOperation = null"></app-operation-view>
</div>
