@import "src/theme";

:host {
  padding: 0 1rem;
}
app-error-message {
  display: block;
  margin: 1rem 0;
}

.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  h3 {
    flex-grow: 1;
    margin: 0 0 0.5rem;
  }

}

.summary-container {
  margin: 1rem 0;

  .name-and-status {
    display: flex;
    align-items: center;
  }
}

.verb {
  background-color: #5160ff;
  color: $whiteish;
}

.address {
  font-family: $mono;
  font-size: 0.8rem;
}

.summary-container {
  //div {
  //  margin-bottom: 15px;
  //}
}

.pill {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-right: 1rem;
  display: inline-block;
}

.row {
  margin-bottom: 1rem;
}

.response-code-line {
  .duration {
    background-color: rgba($vyne-lilac, 0.6);
  }

  .status-success {
    background-color: rgba($vyne-green, 0.5)
  }

  .status-error {
    background-color: $bg-error;
  }

}
