@import "src/common";

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  &.OK {
    background-color: $bg-ok;
  }
  &.UNKNOWN {
    background-color: $bg-status-unknown;
  }
  &.CONNECTING {
    background-color: $bg-warn;
  }
  &.ERROR {
    background-color: $bg-error-no-text;
  }
}
